// 认证
@import url("./common.less");
body {
    background: #edecf1;
}

.main {
    padding: 10px 0;
}

.certified {
    padding: 8px 12px 30px;
    background: #fff;
    p {
        display: flex;
        justify-content: space-between;
        line-height: 2.5;
        border-bottom: 1px solid #eee;
        font-size: 15px;
        strong {
            color: #ff8b35;
            font-weight: 400;
        }
        &:last-of-type {
            justify-content: center;
            padding: 12px 0;
            border-bottom: none;
        }
    }
    .action {
        text-align: center;
        a {
            display: inline-block;
            width: 90%;
            line-height: 40px;
            font-size: 16px;
            border-radius: 5px;
            background: #ff8b35;
            color: #fff;
        }
    }
}