@import url("./common.less");

.main {
    padding: 40px 0 40+170px;
    .clearfix();
}



::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #aaa;
    font-family: "SimSun";
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #aaa;
    font-family: "SimSun";
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #aaa;
    font-family: "SimSun";
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #aaa;
    font-family: "SimSun";
}
