@import url("./common.less");

html {
    background: #eaeaea;
}

.main {
    padding: 40px 0 40+170px;
    .clearfix();
}

.main-left {
    float: left;
    min-height: 560px;
    padding: 20px;
    margin: 0 20px 0 0;
    background: #fff;
    .self {
        text-align: center;
        font-size: 14px;
        .img-wrap {
            width: 180px;
            height: 110px;
            line-height: 110px;
            img {
                display: block;
                max-width: 170px;
                max-height: 100px;
                border: 5px solid #eaeaea;
                margin: 0 auto;
            }
        }
        strong {
            display: block;
            margin: 10px 0;
            font-weight: 700;
            color: #333;
        }
        a {
            color: #009ad2;
        }
    }
    ul {
        margin: 20px 0 0;
        li {
            margin: 1px 0;
            font-size: 14px;
            a {
                display: block;
                padding: 8px 20px;
                background: #eaeaea url(../img/arrow.png) right 12px center no-repeat;
                &.active {
                    background-color: #009ad2;
                    color: #fff;
                }
            }
        }
    }
}

.main-right {
    overflow: hidden;
    background: #fff;
    padding: 20px;
    h4 {
        font-size: 18px;
        line-height: 1;
        margin: 0 0 15px;
        color: #333;
    }
}

.main-right-content {
    overflow: hidden;
    background: #fff;
    padding: 20px;
    h4 {
        font-size: 18px;
        line-height: 1;
        margin: 0 0 15px;
        color: #333;
    }
}

.me-project-detail{
    h5{
        font-size: 15px;
        line-height: 1;
        padding: 0 0 8px 12px ;
        border-bottom:2px solid #ccc;
        margin: 0 0 0px;
        color: #333;
    }
    color:#333;
    font-size: 14px;
    .info{
        margin: 0 0 20px;
        .clearfix();
        .img-wrap{
            float: left;
            padding:3px;
            text-align: center;
            border:1px solid #ccc;
            margin: 0 -1px 0 0;
            img{
                display:block;
                height:75px;
            }
        }
        p{
            overflow:hidden;
            margin: 0 0 -1px 0;
            background: #eaeaea;
            border: 1px solid #ccc;
            .clearfix();
            span{
                box-sizing: border-box;
                float: left;
                width:50%;
                padding: 0 12px;
                line-height:40px;
            }
        }
    }
    .detail{
        margin: 0 0 20px;
        p{
            line-height:40px;
            border-bottom:1px dotted #ccc;
            .clearfix();
            span{
                float: left;
                box-sizing:border-box;
                width:50%;
                padding: 0 12px;
                &.only{
                    width:100%;
                }
            }
            i,em{
                font-style: normal;
                &.orange{
                    color:#ff9900;
                }
                &.bold{
                    font-weight: bold;
                }
                &.green{
                    color:#339966;
                }
            }
            em{
                margin: 0 10px 0 0;
            }
        }
    }
    .cert{
        h5{
            border:none;
        }
        table{
            width:100%;
            text-align: center;
            border-collapse:collapse;
            th{
                padding:6px 12px;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                background: #eaeaea;
            }
            td{
                padding:6px 12px;
                border-bottom:1px solid #ccc;
                a{
                    color:#009ad2;
                    text-decoration: underline;
                }
            }
        }
    }
}

.tab-nav {
    .clearfix();
    li {
        float: left;
        font-size: 14px;
        &:last-of-type a {
            border-right: 1px solid #ccc;
        }
        a {
            display: block;
            padding: 4px 21px;
            color: #666666;
            background: #eaeaea;
            border: 1px solid #ccc;
            border-right: none;
            &.active {
                background: #009ad2;
                color: #fff;
            }
        }
    }
}

.tab {
    display: none;
    border-top: 1px solid #ccc;
    margin: -1px 0 0;
    &.active {
        display: block;
    }
    .type {
        padding: 12px 6px 0;
        font-size: 12px;
        a {
            display: inline-block;
            ;
            padding: 3px 8px;
            color: #666;
            background: #eaeaea;
            border-radius: 5px;
            margin: 0 6px 0 0;
            &.active {
                background: #acd6ff;
            }
        }
    }
    ul {
        margin: 12px 0 0;
        li {
            padding: 12px 0;
            border-bottom: 1px solid #ccc;
            font-size: 14px;
            .clearfix();
            &.item-title {
                padding: 0;
                background: #eaeaea;
                color: #333;
                font-size: 12px;
                text-align: center;
                .item-box {
                    line-height: 2.5;
                }
            }
            .item-box {
                float: left;
                &.item-box-1 {
                    width: 45%;
                }
                &.item-box-2 {
                    width: 15%;
                }
                &.item-box-3 {
                    width: 15%;
                }
                &.item-box-4 {
                    width: 25%;
                }
            }
            .item-box-1 {
                i {
                    float: left;
                    width: 100px;
                    height: 100px;
                    background: url(../img/default.png) center/cover no-repeat;
                }
                p {
                    line-height: 30px;
                    margin: 0 0 0 110px;
                    .elli();
                }
                div {
                    margin: 10px 0 0 110px;
                    .clearfix();
                    em {
                        float: left;
                        width: 5em;
                        padding: 5px 0;
                        margin-right: 5px;
                        font-weight: bold;
                        font-style: normal;
                        text-align: center;
                        background: #eaeaea;
                        &:before {
                            display: block;
                            font-weight: normal;
                        }
                        &:nth-of-type(1):before {
                            content: "已完成";
                        }
                        &:nth-of-type(2):before {
                            content: "已筹集";
                        }
                        &:nth-of-type(3):before {
                            content: "剩余时间";
                        }
                    }
                }
            }
            .item-box-2 {
                span {
                    display: block;
                    line-height: 100px;
                    color: #ff3300;
                    font-weight: 700;
                    text-align: center;
                }
            }
            .item-box-3 {
                span {
                    display: block;
                    line-height: 100px;
                    color: #009ad2;
                    text-align: center;
                }
            }
            .item-box-4 {
                line-height: 100px;
                text-align: center;
                a {
                    display: inline-block;
                    padding: 3px 8px;
                    margin: 0 5px;
                    border-radius: 5px;
                    color: #fff;
                    line-height: 1.5;
                    &.detail {
                        background: #339966;
                    }
                    &.del {
                        background: #b02300;
                    }
                }
            }
        }
    }
    &.black {
        .item-box-3 {
            span {
                color: inherit;
            }
        }
    }
}

.main-input {
    min-height:486px;
    padding:30px 10px 0;
    border-top:1px solid #ccc;
    font-size:14px;
    .text-input{
        margin: 0 0 25px;
        .clearfix();
        span{
            float: left;
            width:150px;
            line-height:38px;
            border:1px solid #ccc;
            text-align: center;
            background: #eaeaea;
            letter-spacing: 5px;
            color:#666;
        }
        p{
            overflow:hidden;
            input{
                width:480-12*2px;
                padding: 0 12px;
                border:1px solid #ccc;
                border-left:none;
                line-height:38px;
                color:#666;
                &:focus{
                    outline:none;
                }
            }
        }
    }

    .radio-input{
        margin: 0 0 25px;
        .clearfix();
        span{
            float: left;
            width:145px;
            line-height:38px;
            border:1px solid #fff;
            text-align: center;
            letter-spacing: 5px;
            color:#666;
        }
        p{
            overflow:hidden;
            width:480px;
            border-left:none;
            line-height:1.5;
            label{
                display:block;
                line-height:38px;
            }
            strong{
                font-size:13px;
                color:#999;
                font-weight: 500;
                font-family: "SimSun";
            }
        }
    }

    .submit-btn{
        margin:40px 0 0 150px;
        button{
            width:480px;
            line-height:38px;
            border-radius:5px;
            color:#fff;
            font-size: inherit;
            background: #009ad2;
            cursor: pointer;
            opacity:1;
            transition:opacity 0.1s;
            &:focus{
                outline:none;
                box-shadow: 0px 0px 1px 1px #0072c1;
            }
            &:active{
                opacity: 0.6;
            }
        }
    }

    .agree-file{
        width:480px;
        margin:15px 0 10px 150px;
        text-align: center;
        color:#999;
        font-size: 12px;
        a{
            color:#333;
        }
    }
}

.card-main{
    min-height:600-20-18-15-30-20px;
    padding:30px 10px 0;
    border-top: 1px solid #ccc;
    font-size:14px;
    .card-main-top{
        .clearfix();
        .card{
            float: left;
            width:218px;
            padding: 0 0 12px;
            border:1px solid #ccc;
            border-radius:8px;
            margin: 0 200px 0 0;
            .name{
                padding:10px 18px;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
                margin: 0 0 10px;
                background: #009AD2;
                color:#fff;
            }
            p{
                padding: 2px 18px;
                color:#666;
            }
        }
        .pay{
            float: left;
            width:250px;
            line-height:115px;
            text-align: center;
            em{
                display:inline-block;
                width:100%;
                color:#ff3300;
                font-style:normal;
                font-weight: 700;
            }
            span{
                display:inline-block;
                width:100%;
                line-height:1.5;
                color:#333;
            }
        }
        .receive{
            float: left;
            width:250px;
            line-height:115px;
            text-align: center;
            em{
                display:inline-block;
                width:100%;
                color:#ff3300;
                font-style:normal;
                font-weight: 700;
            }
            span{
                display:inline-block;
                width:100%;
                line-height:1.5;
                color:#333;
            }
        }
    }
    .card-main-bottom{
        margin:100px 0 0;
        table{
            width:100%;
            border-collapse: collapse;
            margin:15px 0 0;
            text-align: center;
            color:#666;
            th,td{
                padding:6px 0;
                border:1px solid #ccc;
                &:nth-of-type(1){
                    border-left:none;
                }
                &:nth-last-of-type(1){
                    border-right:none;
                }
            }
            th{
                background: #eaeaea;
            }
        }
    }
}






::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #aaa;
    font-family: "SimSun";
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #aaa;
    font-family: "SimSun";
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #aaa;
    font-family: "SimSun";
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #aaa;
    font-family: "SimSun";
}
