@charset "utf-8";
/* 代替base.css作为清除默认样式less */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
.mouse-hover:hover {
  text-decoration: underline;
}
html,
body {
  font: 16px/1.5 "\5FAE\8F6F\96C5\9ED1";
}
html {
  min-width: 1240px;
  height: 100%;
}
body {
  min-height: 100%;
  min-width: 1200px;
  position: relative;
}
.width-wrap {
  width: 1200px;
  margin: 0 auto;
  *zoom: 1;
}
.width-wrap:after {
  content: '';
  display: block;
  clear: both;
}
#wrap .blur {
  /* Chrome, Opera */
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  /* IE6~IE9 */
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav .nav-line {
  line-height: 34px;
  font-size: 14px;
  background: #333333;
  color: #fff;
  *zoom: 1;
}
.nav .nav-line:after {
  content: '';
  display: block;
  clear: both;
}
.nav .nav-line .nav-line-l {
  float: left;
}
.nav .nav-line .nav-line-r {
  float: right;
}
.nav .nav-line .nav-line-r a {
  position: relative;
  float: left;
  height: 18px;
  line-height: 18px;
  padding: 0 30px;
  border-right: 1px solid #fff;
  margin: 8px 0 0;
}
.nav .nav-line .nav-line-r a.active {
  color: #ff9900;
}
.nav .nav-line .nav-line-r a div {
  display: none;
  position: absolute;
  z-index: 100;
  top: 26px;
  left: 50%;
  width: 160px;
  margin: 0 0 0 -80px;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.2);
}
.nav .nav-line .nav-line-r a div img {
  display: block;
  width: 100%;
}
.nav .nav-line .nav-line-r a:hover div {
  display: block;
}
.nav .nav-line .tel {
  float: left;
  margin: 0 0 0 30px;
}
.nav .nav-line .tel:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 18px;
  vertical-align: middle;
  margin: -3px 8px 0 0;
  background: url(../img/nav_tel.png) center no-repeat;
}
.nav .nav-main {
  line-height: 80px;
  min-height: 80px;
  background: #fff;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
  *zoom: 1;
}
.nav .nav-main:after {
  content: '';
  display: block;
  clear: both;
}
.nav .nav-main .top-img {
  float: left;
}
.nav .nav-main .top-img img {
  max-height: 60px;
  vertical-align: middle;
  margin: 0 25px 0 0;
}
.nav .nav-main .top-link {
  float: left;
  line-height: 40px;
  padding: 20px 0;
  margin: 0 0 0 150px;
}
.nav .nav-main .top-link a {
  float: left;
  padding: 0 8px;
  margin: 0 0 0 50px;
  font-size: 16px;
  font-weight: 700;
  color: #2b2b2b;
}
.nav .nav-main .top-link a.active {
  position: relative;
}
.nav .nav-main .top-link a.active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: #3489d8;
  background: -webkit-linear-gradient(left, #93bee6, #3489d8);
  background: -o-linear-gradient(left, #93bee6, #3489d8);
  background: linear-gradient(to right, #93bee6, #3489d8);
  background: linear-gradient(90deg, #93bee6, #3489d8);
}
.nav .nav-main .top-login {
  float: right;
  padding: 24px 0;
  color: #2b2b2b;
}
.nav .nav-main .top-login #userName:after {
  content: "";
  display: inline-block;
  height: 16px;
  border-right: 2px solid #666;
  margin: -3px 8px 0;
  vertical-align: middle;
}
.nav .nav-main .top-login .logged,
.nav .nav-main .top-login .logging {
  display: none;
}
.nav .nav-main .top-login .logged.active,
.nav .nav-main .top-login .logging.active {
  display: block;
}
.nav .nav-main .top-login .logging a:nth-of-type(1) {
  line-height: 30px;
  color: #3489d8;
  border: 1px solid #3489d8;
}
.nav .nav-main .top-login .logging a:nth-of-type(2) {
  background: #3489d8;
  color: #fff;
}
.nav .nav-main .top-login a {
  float: left;
  line-height: 32px;
  padding: 0 16px;
  border-radius: 5px;
  margin: 0 0 0 12px;
  font-size: 15px;
  font-weight: 700;
}
.nav .nav-main .top-login a.active {
  background: #ff6935;
  color: #fff;
}
.nav .nav-main .top-login a.active #userName:after {
  border-color: #fff;
}
.main .blur {
  /* Chrome, Opera */
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  /* IE6~IE9 */
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0 0;
  background: #222222;
  color: #dfdfdf;
  text-align: center;
}
.footer .horn {
  width: 1064px;
  padding: 0 0 10px;
  border-bottom: 1px solid #656565;
  margin: 0 auto;
}
.footer .footer-main {
  display: inline-block;
  padding: 0 0 20px;
  text-align: left;
  font-size: 16px;
}
.footer .footer-main .footer-left {
  float: left;
  line-height: 110px;
  margin: 13px 80px 0 0;
}
.footer .footer-main .footer-left img {
  display: inline-block;
  vertical-align: middle;
  margin: -3px 0 0;
}
.footer .footer-main .footer-middle {
  float: left;
  padding: 0 40px 15px;
  border-left: 1px solid #656565;
  border-right: 1px solid #656565;
  margin: 13px 0 0;
}
.footer .footer-main .footer-middle a {
  float: left;
  margin: 15px 40px 0;
  text-align: center;
}
.footer .footer-main .footer-middle a:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto 16px;
  background: url("../img/footer1.png") center no-repeat;
}
.footer .footer-main .footer-middle a.about:before {
  background-image: url("../img/footer1.png");
}
.footer .footer-main .footer-middle a.new:before {
  background-image: url("../img/footer2.png");
}
.footer .footer-main .footer-middle a.question:before {
  background-image: url("../img/footer3.png");
}
.footer .footer-main .footer-right {
  float: left;
  padding: 0 0 0 40px;
  margin: 13px 0 0;
}
.footer .footer-main .footer-right p {
  float: left;
  margin: 0 0 0 40px;
  text-align: center;
}
.footer .footer-main .footer-right p img {
  display: block;
  width: 82px;
  height: 82px;
  margin: 0 0 12px;
}
.footer .footer-main .footer-bottom {
  padding: 0 15px 0;
  border: 1px solid #676767;
  margin: 143px -1px 0;
  clear: both;
  *zoom: 1;
}
.footer .footer-main .footer-bottom:after {
  content: '';
  display: block;
  clear: both;
}
.footer .footer-main .footer-bottom p {
  float: left;
  width: 33.333%;
  line-height: 40px;
  text-align: center;
}
.footer .footer-main .footer-bottom p:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 32px;
  margin: -3px 15px 0 0;
  background: url(../img/fb1.png) center no-repeat;
  vertical-align: middle;
}
.footer .footer-main .footer-bottom p:nth-of-type(1) {
  width: auto;
  margin: 0 0 0 20px;
}
.footer .footer-main .footer-bottom p:nth-of-type(1):before {
  background-image: url(../img/fb1.png);
}
.footer .footer-main .footer-bottom p:nth-of-type(2) {
  width: auto;
  margin: 0 0 0 105px;
}
.footer .footer-main .footer-bottom p:nth-of-type(2):before {
  background-image: url(../img/fb2.png);
}
.footer .footer-main .footer-bottom p:nth-of-type(3) {
  width: auto;
  margin: 0 0 0 170px;
}
.footer .footer-main .footer-bottom p:nth-of-type(3):before {
  background-image: url(../img/fb3.png);
}
.footer .right {
  width: 100%;
  padding: 0;
  line-height: 50px;
  font-size: 13px;
  background: #1c1c1c;
  color: #9ea0a5;
}
[v-cloak] {
  display: none;
}
.breadcrumb {
  background: #eaeaea;
}
.breadcrumb ul {
  *zoom: 1;
}
.breadcrumb ul:after {
  content: '';
  display: block;
  clear: both;
}
.breadcrumb ul li {
  float: left;
  padding: 5px 0;
  font-size: 14px;
  color: #333333;
}
.breadcrumb ul li:after {
  content: ">";
  margin: 0 5px;
}
.breadcrumb ul li.active {
  pointer-events: none;
}
.breadcrumb ul li.active:after {
  content: "";
}
.pagelist {
  font-size: 0;
  background: #fff;
  height: 50px;
  line-height: 50px;
  font-weight: 900;
  color: #888;
}
.pagelist span {
  font-size: 14px;
}
.pagelist span.jump {
  border: 1px solid #ccc;
  padding: 5px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}
.pagelist span.jump.bgprimary {
  border-color: #009ad2;
  cursor: default;
  color: #fff;
  background: #009ad2;
}
.pagelist span.jump.disabled {
  pointer-events: none;
  background: #ddd;
}
.pagelist span.jumpinp input {
  width: 55px;
  height: 26px;
  font-size: 13px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
}
.pagelist span.ellipsis {
  padding: 0px 8px;
}
.pagelist span.jumppoint {
  margin-left: 30px;
}
.pagelist span.gobtn {
  font-size: 12px;
}
.pageBtn {
  padding: 15px 0 10px 20px;
  font-size: 14px;
  background: #fff;
  height: 50px;
  line-height: 50px;
  font-weight: 900;
  color: #888;
}
.pageBtn * {
  vertical-align: middle;
}
.pageBtn a {
  border: 1px solid #ccc;
  padding: 5px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}
.pageBtn font {
  border: 1px solid #ccc;
  padding: 5px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: default;
  margin-left: 5px;
  color: #a9a9a9;
}
.pageBtn input {
  width: 55px;
  height: 26px;
  font-size: 13px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  margin: 0 5px;
}
.pageBtn input[type=button] {
  height: 28px;
  color: inherit;
  border: 1px solid #ccc;
  padding: 0 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  background: #fff;
}
.float .mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
}
.float .mask.active {
  display: block;
}
.float .mask.pointer {
  cursor: pointer;
}
.float .mask.black-mask {
  background: #000;
  opacity: 0.3;
}
.float .mask.white-mask {
  background: #fff;
  opacity: 0.3;
}
.float .login-float {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 400px;
  height: 424px;
  padding: 20px;
  border-radius: 20px;
  margin: -232px 0 0 -220px;
  background: #fff;
}
.float .login-float h4 {
  padding: 0 0 8px;
  border-bottom: 1px solid #d5d5d5;
  font-size: 18px;
  color: #333;
  text-align: center;
}
.float .login-float ul li {
  position: relative;
  padding: 0 5px;
  margin: 20px 0;
  font-size: 14px;
}
.float .login-float ul li input {
  box-sizing: border-box;
  width: 100%;
  line-height: 2.5;
  min-height: 37px;
  font-size: inherit;
  padding: 0 15px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}
.float .login-float ul li input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 1px #a6c7ff;
}
.float .login-float ul li .tips {
  position: absolute;
  left: 100%;
  top: 0;
  width: 380px;
  line-height: 2.5;
  color: #979797;
  font-family: "SimSun";
}
.float .login-float ul li .tips.success {
  color: #5cb85c;
}
.float .login-float ul li .tips.success:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: -3px 5px 0 0;
  vertical-align: middle;
  background: url(/statics/img/success.png) center no-repeat;
}
.float .login-float ul li .tips.error {
  color: #d9534f;
}
.float .login-float ul li .tips.error:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: -3px 5px 0 0;
  vertical-align: middle;
  background: url(/statics/img/error.png) center no-repeat;
}
.float .login-float ul li.code-li {
  padding: 0;
  margin: -5px 0;
  *zoom: 1;
}
.float .login-float ul li.code-li:after {
  content: '';
  display: block;
  clear: both;
}
.float .login-float ul li.code-li label {
  display: block;
  overflow: auto;
  padding: 5px;
}
.float .login-float ul li.code-li a,
.float .login-float ul li.code-li .alink {
  float: right;
  padding: 5px;
  line-height: 2.5;
  color: #0099cc;
  text-decoration: underline;
  cursor: pointer;
}
.float .login-float ul li.code-li p {
  float: right;
  height: 2.5em;
  padding: 5px;
  border: 1px solid #fff;
  font-size: inherit;
}
.float .login-float ul li.code-li p img {
  height: 100%;
}
.float .login-float ul li.check-li {
  *zoom: 1;
}
.float .login-float ul li.check-li:after {
  content: '';
  display: block;
  clear: both;
}
.float .login-float ul li.check-li label {
  width: 320px;
  float: left;
  margin: 0 10px 0 0;
}
.float .login-float ul li.check-li a {
  float: right;
  width: 158px;
  text-align: center;
  height: 2.5em;
  line-height: 35px;
  border: 1px solid #8ad1ea;
  border-radius: 5px;
  color: #009ad2;
}
.float .login-float ul li.remeber-li label,
.float .login-float ul li.readme-li label {
  margin: 0 25px 0 0;
}
.float .login-float ul li.remeber-li label input,
.float .login-float ul li.readme-li label input {
  width: auto;
  margin: -3px 5px 0;
  vertical-align: middle;
}
.float .login-float ul li.remeber-li label input:focus,
.float .login-float ul li.readme-li label input:focus {
  outline: none;
  box-shadow: none;
}
.float .login-float ul li.remeber-li a,
.float .login-float ul li.readme-li a {
  color: #0072c6;
}
.float .login-float ul li.readme-li a {
  color: #ec5f00;
}
.float .login-float ul li button {
  width: 100%;
  line-height: 3;
  border: 1px solid #007ead;
  border-radius: 5px;
  text-align: center;
  background: #009ad2;
  color: #fff;
  cursor: pointer;
}
.float .login-float ul li button:active {
  opacity: 0.8;
}
.float .login-float ul li button:focus {
  outline: none;
}
.float .login-float ul li.register-li {
  text-align: center;
}
.float .login-float ul li.register-li a {
  color: #ff3300;
}
.float .login-float ul li.error-li p {
  line-height: 2.5;
  background: #cc0000;
  color: #fff;
  padding: 0 16px;
  border-radius: 5px;
}
.float .login-float.active {
  display: block;
}
.float .cert-float {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 400px;
  height: 424px;
  padding: 20px;
  border-radius: 20px;
  margin: -232px 0 0 -220px;
  background: #fff;
}
.float .cert-float.active {
  display: block;
}
.float .loader-float {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
}
.float .loader-float.active {
  display: block;
}
.float .loader-float .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}
/* loading 效果 */
@-webkit-keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.loader {
  width: 100px;
  height: 100px;
}
.loader .ball-spin-fade-loader {
  position: relative;
  top: 42.5px;
  left: 42.5px;
  width: 15px;
  height: 15px;
}
.loader .ball-spin-fade-loader > div {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #122731;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.loader .ball-spin-fade-loader > div:nth-child(1) {
  top: 25px;
  left: 0;
  -webkit-animation: ball-spin-fade-loader 1s 0s infinite linear;
  animation: ball-spin-fade-loader 1s 0s infinite linear;
}
.loader .ball-spin-fade-loader > div:nth-child(2) {
  top: 17.04545px;
  left: 17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.12s infinite linear;
  animation: ball-spin-fade-loader 1s 0.12s infinite linear;
}
.loader .ball-spin-fade-loader > div:nth-child(3) {
  top: 0;
  left: 25px;
  -webkit-animation: ball-spin-fade-loader 1s 0.24s infinite linear;
  animation: ball-spin-fade-loader 1s 0.24s infinite linear;
}
.loader .ball-spin-fade-loader > div:nth-child(4) {
  top: -17.04545px;
  left: 17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.36s infinite linear;
  animation: ball-spin-fade-loader 1s 0.36s infinite linear;
}
.loader .ball-spin-fade-loader > div:nth-child(5) {
  top: -25px;
  left: 0;
  -webkit-animation: ball-spin-fade-loader 1s 0.48s infinite linear;
  animation: ball-spin-fade-loader 1s 0.48s infinite linear;
}
.loader .ball-spin-fade-loader > div:nth-child(6) {
  top: -17.04545px;
  left: -17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.6s infinite linear;
  animation: ball-spin-fade-loader 1s 0.6s infinite linear;
}
.loader .ball-spin-fade-loader > div:nth-child(7) {
  top: 0;
  left: -25px;
  -webkit-animation: ball-spin-fade-loader 1s 0.72s infinite linear;
  animation: ball-spin-fade-loader 1s 0.72s infinite linear;
}
.loader .ball-spin-fade-loader > div:nth-child(8) {
  top: 17.04545px;
  left: -17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.84s infinite linear;
  animation: ball-spin-fade-loader 1s 0.84s infinite linear;
}
.main {
  padding: 0 0 316px;
  text-align: center;
  color: #333;
}
.main img {
  max-width: 100%;
  margin-bottom: -4px;
}
h3.heading {
  padding: 0;
  margin: 50px 0 0;
  font-size: 36px;
  font-weight: 500;
  color: #4392db;
  background: url(../img/about/heading1.png) center no-repeat;
}
section {
  padding: 1px 0;
}
.section1 {
  height: 498px;
  background: url(../img/about/about_0.png) center / cover no-repeat;
  font-size: 24px;
  color: #fff;
}
.section1 img {
  margin: 190px 0 0;
}
.section2 {
  position: relative;
  padding-bottom: 45px;
}
.section2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 519px;
  background: url(../img/about/about_7.png) center no-repeat;
  transform: rotate3d(0, 1, 0, 180deg);
}
.section2 .p1 {
  margin-top: 45px;
  font-size: 18px;
}
.section2 .div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.section2 .div1 .p2 {
  position: relative;
  margin: 0 100px 0 55px;
  font-size: 22px;
}
.section2 .div1 .p2:before {
  content: "「";
  position: absolute;
  top: -14px;
  left: -40px;
  color: #999;
  font-size: 38px;
}
.section2 .div1 .p2:after {
  content: "」";
  position: absolute;
  bottom: -14px;
  right: -28px;
  color: #999;
  font-size: 38px;
}
.section2 .div1 > div {
  margin: 0 0 0 10px;
}
.section2 .div1 > div .p3 {
  margin-top: 20px;
}
.section3 {
  background: #f6f6f6;
}
.section3 ul {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  justify-content: space-around;
}
.section3 ul li {
  padding-bottom: 80px;
  margin: 0 100px;
  color: #666;
}
.section3 ul li img {
  margin-top: 55px;
}
.section3 ul li p:nth-of-type(1) {
  position: relative;
  padding-bottom: 10px;
  margin-top: 15px;
  font-size: 24px;
  color: #4392db;
}
.section3 ul li p:nth-of-type(1):after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 55px;
  border-bottom: 3px solid #4392db;
  transform: translate(-50%, 0);
}
.section3 ul li p:nth-of-type(2) {
  margin-top: 18px;
}
.section4 {
  padding: 1px 0 90px;
  background: #f6f6f6 url(../img/about/about_7.png) center bottom no-repeat;
}
.section4 > div {
  display: flex;
  width: 1200px;
  margin: 40px auto 0;
  justify-content: center;
  align-items: center;
}
.section4 > div div:nth-of-type(1) {
  font-size: 22px;
  line-height: 65px;
  color: #666;
}
.section4 > div div:nth-of-type(1) img {
  display: block;
}
.section4 > div div:nth-of-type(2) {
  flex-grow: 1;
  padding: 0 0 65px;
}
.section4 > div div:nth-of-type(2) p {
  line-height: 57px;
  text-align: left;
  color: #4392db;
  font-size: 24px;
}
.section4 > div div:nth-of-type(2) p:before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 30px;
  margin: -3px 15px 0 140px;
  vertical-align: middle;
  background: url(../img/about/about_8.png) center no-repeat;
}
.section5 .p1 {
  margin-top: 40px;
}
.section5 img {
  margin-top: 55px;
}
.section5 .p2 {
  width: 1024px;
  margin: 0 auto;
  text-align: left;
}
.section5 .p3 {
  margin-top: 65px;
  font-size: 30px;
  color: #4392db;
}
.section5 ul {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}
.section5 .ul1 {
  margin-top: 35px;
  color: #000;
}
.section5 .ul1 li {
  width: 350px;
  border-radius: 8px;
  overflow: hidden;
}
.section5 .ul1 li p {
  font-size: 18px;
  line-height: 74px;
}
.section5 .ul1 li p:nth-of-type(1) {
  line-height: 89px;
  font-size: 22px;
  color: #fff;
}
.section5 .ul1 li p:nth-of-type(n+2) {
  margin: 0 23px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.section5 .ul1 li p:last-of-type {
  border: none;
}
.section5 .ul1 li:nth-of-type(1) {
  background: #fee8c5;
}
.section5 .ul1 li:nth-of-type(1) p:nth-of-type(1) {
  background: #fbb23f;
}
.section5 .ul1 li:nth-of-type(2) {
  background: #c5def5;
}
.section5 .ul1 li:nth-of-type(2) p:nth-of-type(1) {
  background: #309efd;
}
.section5 .ul1 li:nth-of-type(3) {
  background: #f8c5c5;
}
.section5 .ul1 li:nth-of-type(3) p:nth-of-type(1) {
  background: #e73f3e;
}
.section5 .ul2 {
  justify-content: space-around;
}
.section5 .ul2 p {
  margin-top: 15px;
}
.section5 .ul3 {
  margin-top: 50px;
  margin-bottom: 74px;
}
.section5 .ul3 li {
  width: 218px;
  height: 285px;
  border-radius: 5px;
  border: 1px solid #4392db;
}
.section5 .ul3 li p:nth-of-type(1) {
  line-height: 74px;
  border-bottom: 1px solid #4392db;
  background: -webkit-linear-gradient(left, #74b8f9, #4091de);
  background: -o-linear-gradient(left, #74b8f9, #4091de);
  background: linear-gradient(to right, #74b8f9, #4091de);
  margin: -1px -1px 0px;
  color: #fff;
  font-size: 24px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.section5 .ul3 li p:nth-of-type(2) {
  position: relative;
  padding-bottom: 13px;
  margin-top: 28px;
  font-size: 18px;
  color: #4392db;
}
.section5 .ul3 li p:nth-of-type(2):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 48px;
  border: 1px solid #4392db;
  transform: translate(-50%, 0);
}
.section5 .ul3 li p:nth-of-type(3) {
  padding: 0 15px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 2;
  color: #666;
}
.section5 .ul3 li:nth-of-type(2) p:nth-of-type(3) {
  padding: 0 0 0 12px;
  text-align: left;
}
.section6 {
  height: 1130px;
  color: #fff;
  background: url(../img/about/about_23.png) center / cover no-repeat;
}
.section6 .heading {
  color: #f6f6f6;
  background-image: url(../img/about/heading2.png);
}
.section6 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 1200px;
  margin: 45px auto 0;
}
.section6 ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 56px;
}
.section6 ul li img {
  display: block;
  margin: 0;
}
.section6 ul li:nth-of-type(1) {
  width: 1200px;
  flex-shrink: 0;
}
.section6 ul li:nth-of-type(1) > p {
  width: 100%;
  flex-shrink: 0;
}
.section6 ul li:nth-of-type(1) > div:first-of-type {
  overflow: hidden;
  border-bottom-left-radius: 20px;
}
.section6 ul li:nth-of-type(1) > div:last-of-type {
  overflow: hidden;
  border-bottom-right-radius: 20px;
}
.section6 ul li:nth-of-type(2),
.section6 ul li:nth-of-type(3) {
  width: 597px;
}
.section6 ul li:nth-of-type(2) > p,
.section6 ul li:nth-of-type(3) > p {
  width: 597px;
  flex-shrink: 0;
}
.section6 ul li:nth-of-type(2) > div:first-of-type {
  overflow: hidden;
  border-bottom-left-radius: 20px;
}
.section6 ul li:nth-of-type(3) > div:last-of-type {
  overflow: hidden;
  border-bottom-right-radius: 20px;
}
.section6 ul li > p {
  line-height: 50px;
  margin-bottom: 6px;
  background: #309efd;
  font-size: 22px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
.section6 ul li > div {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}
.section6 ul li > div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 189px;
  background: #309efd;
  font-size: 14px;
  line-height: 28px;
}
.section6 ul li > div div p:nth-of-type(1) {
  margin-bottom: 20px;
  font-size: 24px;
}
.section7 {
  background: #f6f6f6;
  padding-bottom: 50px;
}
.section7 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  margin: 30px auto 0;
}
.section7 ul li {
  width: 378px;
  line-height: 142px;
  background: #fff;
  border: 1px solid #dcdcdc;
  margin: 16px 0;
}
.section7 ul li img {
  margin: -3px 0 0;
  vertical-align: middle;
}
