.float {
  display: none;
}
html {
  height: 100%;
}
body {
  min-width: 1360px;
  min-height: 100%;
  position: relative;
  background: #f0f0f0;
}
.width-wrap {
  width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}
.width-wrap:after {
  content: '';
  display: block;
  clear: both;
}
body,
html {
  margin: 0;
  font: 16px/1.5 "\5FAE\8F6F\96C5\9ED1";
}
.breadcrumb {
  background: #eaeaea;
}
.breadcrumb ul:after {
  content: '';
  display: block;
  clear: both;
}
.breadcrumb ul li {
  float: left;
  padding: 5px 0;
  font-size: 14px;
  color: #333333;
}
.breadcrumb ul li:after {
  content: ">";
  margin: 0 5px;
}
.breadcrumb ul li.active {
  pointer-events: none;
}
.breadcrumb ul li.active:after {
  content: "";
}
.footer *,
.nav * {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.footer a,
.nav a {
  text-decoration: none;
  color: inherit;
}
.footer li,
.nav li,
.footer ul,
.nav ul {
  list-style: none;
}
.footer .mouse-hover:hover,
.nav .mouse-hover:hover {
  text-decoration: underline;
}
.footer .width-wrap,
.nav .width-wrap {
  width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}
.footer .width-wrap:after,
.nav .width-wrap:after {
  content: '';
  display: block;
  clear: both;
}
.nav .nav-line {
  line-height: 34px;
  font-size: 14px;
  background: #333333;
  color: #fff;
}
.nav .nav-line:after {
  content: '';
  display: block;
  clear: both;
}
.nav .nav-line .nav-line-l {
  float: left;
}
.nav .nav-line .nav-line-r {
  float: right;
}
.nav .nav-line .nav-line-r a {
  position: relative;
  float: left;
  height: 18px;
  line-height: 18px;
  padding: 0 30px;
  border-right: 1px solid #fff;
  margin: 8px 0 0;
}
.nav .nav-line .nav-line-r a.active {
  color: #ff9900;
}
.nav .nav-line .nav-line-r a div {
  display: none;
  position: absolute;
  z-index: 100;
  top: 26px;
  left: 50%;
  width: 160px;
  margin: 0 0 0 -80px;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.2);
}
.nav .nav-line .nav-line-r a div img {
  display: block;
  width: 100%;
}
.nav .nav-line .nav-line-r a:hover div {
  display: block;
}
.nav .nav-line .tel {
  float: left;
  margin: 0 0 0 30px;
}
.nav .nav-line .tel:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 18px;
  vertical-align: middle;
  margin: -3px 8px 0 0;
  background: url(../img/nav_tel.png) center no-repeat;
}
.nav .nav-main {
  line-height: 80px;
  min-height: 80px;
  background: #fff;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
}
.nav .nav-main:after {
  content: '';
  display: block;
  clear: both;
}
.nav .nav-main .top-img {
  float: left;
}
.nav .nav-main .top-img img {
  max-height: 60px;
  vertical-align: middle;
  margin: 0 25px 0 0;
}
.nav .nav-main .top-link {
  float: left;
  line-height: 40px;
  padding: 20px 0;
  margin: 0 0 0 150px;
}
.nav .nav-main .top-link a {
  float: left;
  padding: 0 8px;
  margin: 0 0 0 50px;
  font-size: 16px;
  font-weight: 700;
  color: #2b2b2b;
}
.nav .nav-main .top-link a.active {
  position: relative;
}
.nav .nav-main .top-link a.active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: red;
  background: -webkit-linear-gradient(left, #ff8f35, #ff3735);
  background: -o-linear-gradient(left, #ff8f35, #ff3735);
  background: linear-gradient(to right, #ff8f35, #ff3735);
  background: linear-gradient(90deg, #ff8f35, #ff3735);
}
.nav .nav-main .top-login {
  float: right;
  padding: 24px 0;
  color: #2b2b2b;
}
.nav .nav-main .top-login #userName:after {
  content: "";
  display: inline-block;
  height: 16px;
  border-right: 2px solid #666;
  margin: -3px 8px 0;
  vertical-align: middle;
}
.nav .nav-main .top-login .logged,
.nav .nav-main .top-login .logging {
  display: none;
}
.nav .nav-main .top-login .logged.active,
.nav .nav-main .top-login .logging.active {
  display: block;
}
.nav .nav-main .top-login .logging a:nth-of-type(1) {
  line-height: 30px;
  color: #3489d8;
  border: 1px solid #3489d8;
}
.nav .nav-main .top-login .logging a:nth-of-type(2) {
  background: #3489d8;
  color: #fff;
}
.nav .nav-main .top-login a {
  float: left;
  line-height: 32px;
  padding: 0 16px;
  border-radius: 5px;
  margin: 0 0 0 12px;
  font-size: 15px;
  font-weight: 700;
}
.nav .nav-main .top-login a.active {
  background: #ff6935;
  color: #fff;
}
.nav .nav-main .top-login a.active #userName:after {
  border-color: #fff;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0 0;
  background: #222222;
  color: #dfdfdf;
  text-align: center;
}
.footer .horn {
  width: 1064px;
  padding: 0 0 10px;
  border-bottom: 1px solid #656565;
  margin: 0 auto;
}
.footer .footer-main {
  display: inline-block;
  padding: 0 0 20px;
  text-align: left;
  font-size: 16px;
}
.footer .footer-main .footer-left {
  float: left;
  line-height: 110px;
  margin: 13px 80px 0 0;
}
.footer .footer-main .footer-left img {
  display: inline-block;
  vertical-align: middle;
  margin: -3px 0 0;
}
.footer .footer-main .footer-middle {
  float: left;
  padding: 0 40px 15px;
  border-left: 1px solid #656565;
  border-right: 1px solid #656565;
  margin: 13px 0 0;
}
.footer .footer-main .footer-middle a {
  float: left;
  margin: 15px 40px 0;
  text-align: center;
}
.footer .footer-main .footer-middle a:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto 16px;
  background: url("../img/footer1.png") center no-repeat;
}
.footer .footer-main .footer-middle a.about:before {
  background-image: url("../img/footer1.png");
}
.footer .footer-main .footer-middle a.new:before {
  background-image: url("../img/footer2.png");
}
.footer .footer-main .footer-middle a.question:before {
  background-image: url("../img/footer3.png");
}
.footer .footer-main .footer-right {
  float: left;
  padding: 0 0 0 40px;
  margin: 13px 0 0;
}
.footer .footer-main .footer-right p {
  float: left;
  margin: 0 0 0 40px;
  text-align: center;
}
.footer .footer-main .footer-right p img {
  display: block;
  width: 82px;
  height: 82px;
  margin: 0 0 12px;
}
.footer .footer-main .footer-bottom {
  padding: 0 15px 0;
  border: 1px solid #676767;
  margin: 143px -1px 0;
  clear: both;
}
.footer .footer-main .footer-bottom:after {
  content: '';
  display: block;
  clear: both;
}
.footer .footer-main .footer-bottom p {
  float: left;
  width: 33.333%;
  line-height: 40px;
  text-align: center;
}
.footer .footer-main .footer-bottom p:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 32px;
  margin: -3px 15px 0 0;
  background: url(../img/fb1.png) center no-repeat;
  vertical-align: middle;
}
.footer .footer-main .footer-bottom p:nth-of-type(1) {
  width: auto;
  margin: 0 0 0 20px;
}
.footer .footer-main .footer-bottom p:nth-of-type(1):before {
  background-image: url(../img/fb1.png);
}
.footer .footer-main .footer-bottom p:nth-of-type(2) {
  width: auto;
  margin: 0 0 0 105px;
}
.footer .footer-main .footer-bottom p:nth-of-type(2):before {
  background-image: url(../img/fb2.png);
}
.footer .footer-main .footer-bottom p:nth-of-type(3) {
  width: auto;
  margin: 0 0 0 170px;
}
.footer .footer-main .footer-bottom p:nth-of-type(3):before {
  background-image: url(../img/fb3.png);
}
.footer .right {
  width: 100%;
  padding: 0;
  line-height: 50px;
  font-size: 13px;
  background: #1c1c1c;
  color: #9ea0a5;
}
.main {
  padding: 40px 0 321px;
}
.main .news-title {
  position: relative;
  text-align: center;
}
.main .news-info {
  text-align: center;
  padding: 0 0 0 40px;
  color: #999;
}
.main .news-info span {
  margin: 0 12px;
  font-size: 14px;
}
.main .content {
  width: 1160px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
}
