<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>项目详情</title>
    <link rel="stylesheet" href="./css/project_detail.css">
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
</head>

<body>
    <div id="wrap">

        <!-- 内容 begin -->
        <div class="container">

            <!-- 顶部title -->
            <div class="top">
                <a class="back no-animation" href="javascript:history.go(-1)"></a>
                <h2>项目详情</h2>
                <a class="star" href="javascript:void(0)"></a>
            </div>

            <div class="main">
                <!-- 项目列表 -->
                <div class="section">
                    <tpl-project-list :data="projectListData"></tpl-project-list>
                </div>

                <!-- 项目筹资流程 -->
                <div class="section step">
                    <div class="title">项目筹资流程</div>
                    <div class="step-main">
                        <p>
                            <span class="active">预热</span>
                            <span>募集</span>
                            <span>出资</span>
                            <span>交割</span>
                        </p>
                    </div>
                </div>

                <!-- 项目详情 -->
                <div class="section">
                    <div class="title">项目详情</div>
                    <div>
                        <img src="img/test/test05.jpg">
                    </div>
                </div>

                <!-- 核心成员 -->
                <div class="section ">
                    <div class="title">核心成员</div>
                    <ul class="team-list">
                        <li class="team-item" v-for="(val , index) in [1,2,3,4]">
                            <i style="background-image: url(./img/test/test02.png)"></i>
                            <div>
                                <p>
                                    <span>姓名：周志光</span>
                                    <span>职位：川师人</span>
                                </p>
                                <p>
                                    描述：氨基酸考虑到骄傲私单就氨基酸地哦啊接私单就爱哦四季豆我爱就是do为安吉斯我的就爱哦四季豆为安吉斯金佛那就是的
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>


                <!-- 本轮投资意向 -->
                <div class="section ">
                    <div class="title">本轮投资意向</div>
                    <ul class="investor-list">
                        <li class="investor-item" v-for="(val , index) in [1,2,3,4]">
                            <i style="background-image: url(./img/test/test02.png)"></i>
                            <div>
                                <p>
                                    <span>123 XXXX XXXX</span>
                                    <span>投资金额：200万元</span>
                                </p>
                                <p>
                                    确认时间：2017-10-14
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>


        </div>
        <!-- 内容 end -->


        <!-- 底部 -->
        <footer-tpl :page="page"></footer-tpl>
    </div>

    <script src="./js/tpl_project_list.js"></script>
    <script type="text/javascript" src="js/project_detail.js"></script>
</body>

</html>