<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>手机端</title>
    <link rel="stylesheet" href="/m/css/me.css">
    <script type="text/javascript" src="/m/js/vue.min.js"></script>
    <script type="text/javascript" src="/m/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/m/js/base.js"></script>
</head>

<body>
    <div id="wrap" v-cloak>

        <!-- 内容 begin -->
        <div class="container">

            <!-- 登录和导航 -->
            <div class="section">
                <!-- 登录 -->
                <div class="login">
                    <i v-if="tbuser == null || (!!tbuser.pic && tbuser.pic == null)" :style="{'background-image':'url(/m/img/userpic.png)'}"></i>
                    <i v-if="tbuser != null && tbuser.pic != null" :style="{'background-image':'url('+tbuser.pic+')'}"></i>
                    <a class="notAppLink" v-if="tbuser == null " href="/m/page/mlogin.html">点击登录</a>
                    <a class="notAppLink" v-if="tbuser != null && tbuser.username != null">{{tbuser.username}}</a>
                    <a class="notAppLink" v-if="tbuser != null && tbuser.username == null">{{tbuser.stradername}}</a>
                </div>
                <!-- 导航 -->
                <div class="nav">
                    <a href="/m/page/my_project.html">全部订单</a>
                    <a href="/m/page/my_project.html?qstatus=10,20">等待付款</a>
                    <a href="/m/page/my_project.html?qstatus=100">付款完成</a>
                </div>
            </div>

            <!-- 关注的项目 消息 -->
            <div class="section list list1">
                <a href="/m/page/my_bookmark.html">我的收藏</a>
                <a href="/m/page/my_delivery.html">投后管理</a>
                <a href="/m/page/my_contract.html">合同管理</a>
            </div>

            <div class="section list list2">
                <a href="javascript:void(0)" @click="friends">我的好友</a>
            </div>

            <!-- 跟投人认证 意见反馈 设置 -->
            <div class="section list list2">
                <!-- <a href="/m/page/my_cert.html">跟投人认证</a> -->
                <!-- <a href="###">关于我们</a> -->
            </div>

            <div class="section list">
                <a href="test.html">测试</a>
                <a class="notAppLink" href="/alipay/wappay/pay.jsp">pay</a>
            </div>

            <div class="section list">
                <a @click="logout" href="javascript:void(0)">退出</a>
            </div>


            <div class="section service">
                <p>客服热线：
                    <a href="tel:020-12345678">020-1234 5678</a>
                </p>
                <p>服务时间：工作日 09:00-18:00</p>
            </div>

        </div>
        <!-- 内容 end -->

        <!-- 底部 -->
        <footer-tpl :page="page"></footer-tpl>
    </div>

    <script type="text/javascript" src="/m/js/me.js"></script>
</body>

</html>