@charset "utf-8";
/* 代替base.css作为清除默认样式less */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
.mouse-hover:hover {
  text-decoration: underline;
}
html,
body {
  font: 16px/1.5 "\5FAE\8F6F\96C5\9ED1";
}
html {
  min-width: 1240px;
  height: 100%;
}
body {
  min-height: 100%;
  min-width: 1200px;
  position: relative;
}
.width-wrap {
  width: 1200px;
  margin: 0 auto;
  *zoom: 1;
}
.width-wrap:after {
  content: '';
  display: block;
  clear: both;
}
#wrap .blur {
  /* Chrome, Opera */
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  /* IE6~IE9 */
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav .nav-line {
  line-height: 34px;
  font-size: 14px;
  background: #333333;
  color: #fff;
  *zoom: 1;
}
.nav .nav-line:after {
  content: '';
  display: block;
  clear: both;
}
.nav .nav-line .nav-line-l {
  float: left;
}
.nav .nav-line .nav-line-l .tel:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 18px;
  vertical-align: middle;
  margin: -3px 8px 0 0;
  background: url(../img/nav_tel.png) center no-repeat;
}
.nav .nav-line .nav-line-r {
  float: right;
}
.nav .nav-line .nav-line-r a {
  padding: 0 8px;
  border-right: 1px solid #fff;
}
.nav .nav-line .nav-line-r a:last-of-type {
  border-right: none;
}
.nav .nav-line .nav-line-r a.active {
  color: #ff9900;
}
.nav .nav-main {
  line-height: 80px;
  min-height: 80px;
  background: #fff;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
  *zoom: 1;
}
.nav .nav-main:after {
  content: '';
  display: block;
  clear: both;
}
.nav .nav-main .top-img {
  float: left;
}
.nav .nav-main .top-img img {
  max-height: 60px;
  vertical-align: middle;
  margin: 0 25px 0 0;
}
.nav .nav-main .top-link {
  float: left;
  line-height: 40px;
  padding: 20px 0;
  margin: 0 0 0 150px;
}
.nav .nav-main .top-link a {
  float: left;
  padding: 0 8px;
  margin: 0 0 0 50px;
  font-size: 16px;
  font-weight: 700;
  color: #2b2b2b;
}
.nav .nav-main .top-link a.active {
  position: relative;
}
.nav .nav-main .top-link a.active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: red;
  background: -webkit-linear-gradient(left, #ff8f35, #ff3735);
  background: -o-linear-gradient(left, #ff8f35, #ff3735);
  background: linear-gradient(to right, #ff8f35, #ff3735);
  background: linear-gradient(90deg, #ff8f35, #ff3735);
}
.nav .nav-main .top-login {
  float: right;
  padding: 24px 0;
}
.nav .nav-main .top-login .logged,
.nav .nav-main .top-login .logging {
  display: none;
}
.nav .nav-main .top-login .logged.active,
.nav .nav-main .top-login .logging.active {
  display: block;
}
.nav .nav-main .top-login a {
  float: left;
  line-height: 32px;
  padding: 0 16px;
  border-radius: 5px;
  margin: 0 0 0 12px;
  font-size: 15px;
  font-weight: 700;
}
.nav .nav-main .top-login a.active {
  background: #ff6935;
  color: #fff;
}
.main .blur {
  /* Chrome, Opera */
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  /* IE6~IE9 */
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #222222;
  color: #fff;
  text-align: center;
}
.footer .footer-main {
  display: inline-block;
  padding: 20px 0 20px;
  text-align: left;
  font-size: 16px;
}
.footer .footer-main .footer-left {
  float: left;
  line-height: 110px;
  margin: 13px 80px 0 0;
}
.footer .footer-main .footer-left img {
  display: inline-block;
  vertical-align: middle;
  margin: -3px 0 0;
}
.footer .footer-main .footer-middle {
  float: left;
  padding: 0 40px 15px;
  border-left: 1px solid #656565;
  border-right: 1px solid #656565;
  margin: 13px 0 0;
}
.footer .footer-main .footer-middle a {
  float: left;
  margin: 15px 40px 0;
  text-align: center;
}
.footer .footer-main .footer-middle a:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto 16px;
  background: url("../img/footer1.png") center no-repeat;
}
.footer .footer-main .footer-middle a.about:before {
  background-image: url("../img/footer1.png");
}
.footer .footer-main .footer-middle a.new:before {
  background-image: url("../img/footer2.png");
}
.footer .footer-main .footer-middle a.question:before {
  background-image: url("../img/footer3.png");
}
.footer .footer-main .footer-right {
  float: left;
  padding: 0 0 0 40px;
  margin: 13px 0 0;
}
.footer .footer-main .footer-right p {
  float: left;
  margin: 0 0 0 40px;
  text-align: center;
}
.footer .footer-main .footer-right p img {
  display: block;
  width: 82px;
  height: 82px;
  margin: 0 0 12px;
}
.footer .footer-main .footer-bottom {
  padding: 0 15px 0;
  border: 1px solid #676767;
  margin: 143px -1px 0;
  clear: both;
  *zoom: 1;
}
.footer .footer-main .footer-bottom:after {
  content: '';
  display: block;
  clear: both;
}
.footer .footer-main .footer-bottom p {
  float: left;
  width: 33.333%;
  line-height: 40px;
  text-align: center;
}
.footer .footer-main .footer-bottom p:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 32px;
  margin: -3px 15px 0 0;
  background: url(../img/fb1.png) center no-repeat;
  vertical-align: middle;
}
.footer .footer-main .footer-bottom p:nth-of-type(1) {
  width: auto;
  margin: 0 0 0 20px;
}
.footer .footer-main .footer-bottom p:nth-of-type(1):before {
  background-image: url(../img/fb1.png);
}
.footer .footer-main .footer-bottom p:nth-of-type(2) {
  width: auto;
  margin: 0 0 0 105px;
}
.footer .footer-main .footer-bottom p:nth-of-type(2):before {
  background-image: url(../img/fb2.png);
}
.footer .footer-main .footer-bottom p:nth-of-type(3) {
  width: auto;
  margin: 0 0 0 170px;
}
.footer .footer-main .footer-bottom p:nth-of-type(3):before {
  background-image: url(../img/fb3.png);
}
.footer .right {
  width: 100%;
  padding: 0;
  line-height: 50px;
  font-size: 13px;
  background: #1c1c1c;
  color: #9ea0a5;
}
[v-cloak] {
  display: none;
}
.breadcrumb {
  background: #eaeaea;
}
.breadcrumb ul {
  *zoom: 1;
}
.breadcrumb ul:after {
  content: '';
  display: block;
  clear: both;
}
.breadcrumb ul li {
  float: left;
  padding: 5px 0;
  font-size: 14px;
  color: #333333;
}
.breadcrumb ul li:after {
  content: ">";
  margin: 0 5px;
}
.breadcrumb ul li.active {
  pointer-events: none;
}
.breadcrumb ul li.active:after {
  content: "";
}
.pagelist {
  font-size: 0;
  background: #fff;
  height: 50px;
  line-height: 50px;
  font-weight: 900;
  color: #888;
}
.pagelist span {
  font-size: 14px;
}
.pagelist span.jump {
  border: 1px solid #ccc;
  padding: 5px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}
.pagelist span.jump.bgprimary {
  border-color: #009ad2;
  cursor: default;
  color: #fff;
  background: #009ad2;
}
.pagelist span.jump.disabled {
  pointer-events: none;
  background: #ddd;
}
.pagelist span.jumpinp input {
  width: 55px;
  height: 26px;
  font-size: 13px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
}
.pagelist span.ellipsis {
  padding: 0px 8px;
}
.pagelist span.jumppoint {
  margin-left: 30px;
}
.pagelist span.gobtn {
  font-size: 12px;
}
.pageBtn {
  padding: 15px 0 10px 20px;
  font-size: 14px;
  background: #fff;
  height: 50px;
  line-height: 50px;
  font-weight: 900;
  color: #888;
}
.pageBtn * {
  vertical-align: middle;
}
.pageBtn a {
  border: 1px solid #ccc;
  padding: 5px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}
.pageBtn font {
  border: 1px solid #ccc;
  padding: 5px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: default;
  margin-left: 5px;
  color: #a9a9a9;
}
.pageBtn input {
  width: 55px;
  height: 26px;
  font-size: 13px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  margin: 0 5px;
}
.pageBtn input[type=button] {
  height: 28px;
  color: inherit;
  border: 1px solid #ccc;
  padding: 0 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  background: #fff;
}
.float .mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
}
.float .mask.active {
  display: block;
}
.float .mask.pointer {
  cursor: pointer;
}
.float .mask.black-mask {
  background: #000;
  opacity: 0.3;
}
.float .mask.white-mask {
  background: #fff;
  opacity: 0.3;
}
.float .login-float {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 400px;
  height: 424px;
  padding: 20px;
  border-radius: 20px;
  margin: -232px 0 0 -220px;
  background: #fff;
}
.float .login-float h4 {
  padding: 0 0 8px;
  border-bottom: 1px solid #d5d5d5;
  font-size: 18px;
  color: #333;
  text-align: center;
}
.float .login-float ul li {
  position: relative;
  padding: 0 5px;
  margin: 20px 0;
  font-size: 14px;
}
.float .login-float ul li input {
  box-sizing: border-box;
  width: 100%;
  line-height: 2.5;
  min-height: 37px;
  font-size: inherit;
  padding: 0 15px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}
.float .login-float ul li input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 1px #a6c7ff;
}
.float .login-float ul li .tips {
  position: absolute;
  left: 100%;
  top: 0;
  width: 380px;
  line-height: 2.5;
  color: #979797;
  font-family: "SimSun";
}
.float .login-float ul li .tips.success {
  color: #5cb85c;
}
.float .login-float ul li .tips.success:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: -3px 5px 0 0;
  vertical-align: middle;
  background: url(/statics/img/success.png) center no-repeat;
}
.float .login-float ul li .tips.error {
  color: #d9534f;
}
.float .login-float ul li .tips.error:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: -3px 5px 0 0;
  vertical-align: middle;
  background: url(/statics/img/error.png) center no-repeat;
}
.float .login-float ul li.code-li {
  padding: 0;
  margin: -5px 0;
  *zoom: 1;
}
.float .login-float ul li.code-li:after {
  content: '';
  display: block;
  clear: both;
}
.float .login-float ul li.code-li label {
  display: block;
  overflow: auto;
  padding: 5px;
}
.float .login-float ul li.code-li a,
.float .login-float ul li.code-li .alink {
  float: right;
  padding: 5px;
  line-height: 2.5;
  color: #0099cc;
  text-decoration: underline;
  cursor: pointer;
}
.float .login-float ul li.code-li p {
  float: right;
  height: 2.5em;
  padding: 5px;
  border: 1px solid #fff;
  font-size: inherit;
}
.float .login-float ul li.code-li p img {
  height: 100%;
}
.float .login-float ul li.check-li {
  *zoom: 1;
}
.float .login-float ul li.check-li:after {
  content: '';
  display: block;
  clear: both;
}
.float .login-float ul li.check-li label {
  width: 320px;
  float: left;
  margin: 0 10px 0 0;
}
.float .login-float ul li.check-li a {
  float: right;
  width: 158px;
  text-align: center;
  height: 2.5em;
  line-height: 35px;
  border: 1px solid #8ad1ea;
  border-radius: 5px;
  color: #009AD2;
}
.float .login-float ul li.remeber-li label,
.float .login-float ul li.readme-li label {
  margin: 0 25px 0 0;
}
.float .login-float ul li.remeber-li label input,
.float .login-float ul li.readme-li label input {
  width: auto;
  margin: -3px 5px 0;
  vertical-align: middle;
}
.float .login-float ul li.remeber-li label input:focus,
.float .login-float ul li.readme-li label input:focus {
  outline: none;
  box-shadow: none;
}
.float .login-float ul li.remeber-li a,
.float .login-float ul li.readme-li a {
  color: #0072c6;
}
.float .login-float ul li.readme-li a {
  color: #ec5f00;
}
.float .login-float ul li button {
  width: 100%;
  line-height: 3;
  border: 1px solid #007ead;
  border-radius: 5px;
  text-align: center;
  background: #009AD2;
  color: #fff;
  cursor: pointer;
}
.float .login-float ul li button:active {
  opacity: 0.8;
}
.float .login-float ul li button:focus {
  outline: none;
}
.float .login-float ul li.register-li {
  text-align: center;
}
.float .login-float ul li.register-li a {
  color: #ff3300;
}
.float .login-float ul li.error-li p {
  line-height: 2.5;
  background: #cc0000;
  color: #fff;
  padding: 0 16px;
  border-radius: 5px;
}
.float .login-float.active {
  display: block;
}
.float .cert-float {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 400px;
  height: 424px;
  padding: 20px;
  border-radius: 20px;
  margin: -232px 0 0 -220px;
  background: #fff;
}
.float .cert-float.active {
  display: block;
}
.float .loader-float {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
}
.float .loader-float.active {
  display: block;
}
.float .loader-float .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}
/* loading 效果 */
@-webkit-keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.loader {
  width: 100px;
  height: 100px;
}
.loader .ball-spin-fade-loader {
  position: relative;
  top: 42.5px;
  left: 42.5px;
  width: 15px;
  height: 15px;
}
.loader .ball-spin-fade-loader > div {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #122731;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.loader .ball-spin-fade-loader > div:nth-child(1) {
  top: 25px;
  left: 0;
  -webkit-animation: ball-spin-fade-loader 1s 0s infinite linear;
  animation: ball-spin-fade-loader 1s 0s infinite linear;
}
.loader .ball-spin-fade-loader > div:nth-child(2) {
  top: 17.04545px;
  left: 17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.12s infinite linear;
  animation: ball-spin-fade-loader 1s 0.12s infinite linear;
}
.loader .ball-spin-fade-loader > div:nth-child(3) {
  top: 0;
  left: 25px;
  -webkit-animation: ball-spin-fade-loader 1s 0.24s infinite linear;
  animation: ball-spin-fade-loader 1s 0.24s infinite linear;
}
.loader .ball-spin-fade-loader > div:nth-child(4) {
  top: -17.04545px;
  left: 17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.36s infinite linear;
  animation: ball-spin-fade-loader 1s 0.36s infinite linear;
}
.loader .ball-spin-fade-loader > div:nth-child(5) {
  top: -25px;
  left: 0;
  -webkit-animation: ball-spin-fade-loader 1s 0.48s infinite linear;
  animation: ball-spin-fade-loader 1s 0.48s infinite linear;
}
.loader .ball-spin-fade-loader > div:nth-child(6) {
  top: -17.04545px;
  left: -17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.6s infinite linear;
  animation: ball-spin-fade-loader 1s 0.6s infinite linear;
}
.loader .ball-spin-fade-loader > div:nth-child(7) {
  top: 0;
  left: -25px;
  -webkit-animation: ball-spin-fade-loader 1s 0.72s infinite linear;
  animation: ball-spin-fade-loader 1s 0.72s infinite linear;
}
.loader .ball-spin-fade-loader > div:nth-child(8) {
  top: 17.04545px;
  left: -17.04545px;
  -webkit-animation: ball-spin-fade-loader 1s 0.84s infinite linear;
  animation: ball-spin-fade-loader 1s 0.84s infinite linear;
}
html,
body {
  background: #f0f0f0;
}
@font-face {
  font-family: "myFont";
  src: url('../font/self.TTF');
}
.heading {
  line-height: 50px;
  font-weight: normal;
  font-size: 28px;
  text-align: center;
  color: #333;
}
h4.heading {
  padding: 55px 0 0;
  font-family: "myFont";
}
h5.heading {
  padding: 0 0 55px;
}
h5.heading:after,
h5.heading:before {
  content: "";
  display: inline-block;
  width: 107px;
  margin: -3px 20px 0;
  vertical-align: middle;
  border-bottom: 1px solid #666;
}
.more {
  padding: 50px 0 42px;
  text-align: center;
}
.more a {
  display: inline-block;
  width: 120px;
  line-height: 42px;
  border: 1px solid #7d7d7d;
  border-radius: 5px;
  color: #7d7d7d;
  font-size: 16px;
}
.swiper-container .swiper-slide {
  position: relative;
}
.swiper-container .swiper-slide div {
  position: absolute;
  top: 60px;
  right: 300px;
  color: #fff;
  text-align: right;
  line-height: 2;
}
.swiper-container .swiper-slide div h2 {
  font-size: 60px;
}
.swiper-container .swiper-slide div p {
  font-size: 25px;
}
.swiper-container .swiper-slide a {
  position: absolute;
  bottom: 10%;
  right: 18%;
}
.swiper-container .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  border-radius: 10px;
  transition: width 0.2s;
}
.swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 20px;
  background: #fff;
}
.swiper-container img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 500px;
}
.main {
  padding: 0 0 321px;
  *zoom: 1;
}
.main:after {
  content: '';
  display: block;
  clear: both;
}
.banner {
  position: relative;
}
.short-wrap {
  padding: 95px 0 55px;
  text-align: center;
  background: #fff;
}
.short-wrap .short {
  display: inline-block;
  margin-bottom: -6px;
}
.short-wrap .short p {
  position: relative;
  float: left;
  width: 305px;
}
.short-wrap .short p:before {
  content: "";
  display: block;
  height: 70px;
  margin: 0 0 5px;
  background: url(../img/short1.png) center no-repeat;
}
.short-wrap .short p:after {
  content: "";
  position: absolute;
  top: 50.5px;
  right: 0;
  height: 50px;
  border-left: 1px solid #d6d6d6;
}
.short-wrap .short p.short1:before {
  background-image: url(../img/short1.png);
}
.short-wrap .short p.short2:before {
  background-image: url(../img/short2.png);
}
.short-wrap .short p.short3:before {
  background-image: url(../img/short3.png);
}
.short-wrap .short p.short4:before {
  background-image: url(../img/short4.png);
}
.short-wrap .short p.short4:after {
  display: none;
}
.short-wrap .short p strong {
  color: #ff8a35;
  display: block;
  line-height: 1.8;
  font-size: 32px;
  font-weight: normal;
}
.short-wrap .short p span {
  color: #666;
  display: block;
  font-size: 19px;
}
.hot {
  min-height: 840px;
  background: url(../img/home_hot.png) center no-repeat;
  text-align: center;
}
.hot ul {
  display: inline-block;
}
.hot ul li {
  float: left;
  margin: 0 5px;
  background: #fff;
}
.hot ul li a {
  display: block;
  width: 293px;
  border: 1px solid #d2d2d2;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0);
  transition: all linear 0.3s;
}
.hot ul li a:hover {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.3);
}
.hot ul li a i {
  display: block;
  height: 334px;
  background: url(../img/test/test09.png);
}
.hot ul li a .project-content .project-title {
  display: inline-block;
  padding: 15px 12px 12px;
}
.hot ul li a .project-content .project-title span {
  display: block;
  line-height: 24px;
  font-size: 14px;
  color: #2b2b2b;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.hot ul li a .project-content .project-title em {
  float: right;
  line-height: 22px;
  padding: 0 5px;
  border: 1px solid #ff3935;
  border-radius: 5px;
  font-size: 14px;
  font-style: normal;
  color: #ff3935;
}
.hot ul li a .project-content .project-detail {
  *zoom: 1;
}
.hot ul li a .project-content .project-detail:after {
  content: '';
  display: block;
  clear: both;
}
.hot ul li a .project-content .project-detail .progress {
  position: relative;
  float: left;
  height: 100px;
  width: 140px;
}
.hot ul li a .project-content .project-detail .progress .progress-num {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 76px;
  color: #666;
}
.hot ul li a .project-content .project-detail .projec-major {
  overflow: hidden;
  line-height: 25px;
  color: #666;
  font-size: 13px;
  text-align: left;
}
.hot ul li a .project-content .project-detail .projec-major span {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  margin: -3px 0 0;
  width: 5em;
}
.accomplished {
  background: #fff;
  text-align: center;
}
.accomplished ul {
  width: 1200px;
  margin: 0 auto;
  *zoom: 1;
}
.accomplished ul:after {
  content: '';
  display: block;
  clear: both;
}
.accomplished ul li {
  float: left;
}
.accomplished ul li.proj1 {
  float: left;
  width: 595px;
  height: 238px;
  line-height: 238px;
  margin: 0 10px 10px 0;
}
.accomplished ul li.proj2 {
  float: right;
  width: 595px;
  height: 486px;
  line-height: 486px;
  margin: 0 0 10px 0;
}
.accomplished ul li.proj3 {
  float: left;
  width: 293px;
  height: 238px;
  line-height: 238px;
  margin: 0 9px 10px 0;
}
.accomplished ul li.proj4 {
  float: left;
  width: 293px;
  height: 238px;
  line-height: 238px;
  margin: 0 10px 10px 0;
}
.accomplished ul li.proj5 {
  float: none;
  width: 1200px;
  height: 330px;
  line-height: 330px;
  clear: both;
}
.accomplished ul li a {
  display: block;
  height: 100%;
  background: url(../img/test/test09.png) center no-repeat;
  background: url(../img/test/test09.png) center / cover no-repeat;
  overflow: hidden;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow linear 0.2s;
}
.accomplished ul li a:hover {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}
.accomplished ul li a:hover .proj-info {
  transform: translate3d(0, 0, 0);
}
.accomplished ul li a .proj-info {
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  transition: transform cubic-bezier(0.1, 0.85, 0.23, 0.95) 1.2s;
  transform: translate3d(0, 100%, 0);
}
.accomplished ul li a .proj-info .box {
  display: inline-block;
  vertical-align: middle;
  margin: -3px 0 0;
}
.accomplished ul li a .proj-info .box h6 {
  line-height: 76px;
  font-weight: normal;
  font-size: 36px;
}
.accomplished ul li a .proj-info .box p {
  padding: 0 40px;
  font-size: 17px;
  line-height: 32px;
}
.famous {
  min-height: 670px;
  background: url(../img/home_famous.png) center no-repeat;
  text-align: center;
}
.famous ul {
  display: inline-block;
}
.famous ul li {
  float: left;
  margin: 0 5px;
}
.famous ul li a {
  display: block;
  width: 295px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0);
  transition: all linear 0.3s;
}
.famous ul li a:hover {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}
.famous ul li a i {
  display: block;
  height: 242px;
  background: url(../img/test/test09.png) center top no-repeat;
  background: url(../img/test/test09.png) center top / cover no-repeat;
}
.famous ul li a .famous-content {
  background: #fff;
  min-height: 150px;
}
.famous ul li a .famous-content .name {
  padding: 17px 0 11px;
  line-height: 2;
  color: #333;
  font-size: 17px;
}
.famous ul li a .famous-content .name:before,
.famous ul li a .famous-content .name:after {
  content: "";
  display: inline-block;
  width: 42px;
  border-top: 1px solid #bebebe;
  vertical-align: middle;
  margin: -3px 12px 0;
}
.famous ul li a .famous-content .intro {
  font-size: 15px;
  line-height: 22px;
  color: #666;
}
.big-wrap {
  padding: 0 0 38px;
  background: #fff;
}
.index-news-notice {
  width: 1200px;
  margin: 0 auto;
  *zoom: 1;
}
.index-news-notice:after {
  content: '';
  display: block;
  clear: both;
}
.index-news-notice h4 {
  position: relative;
  line-height: 24px;
  color: #2b2b2b;
  font-weight: 500;
  font-size: 16px;
  *zoom: 1;
}
.index-news-notice h4:after {
  content: '';
  display: block;
  clear: both;
}
.index-news-notice h4:before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 32px;
  height: 3px;
  background: -webkit-linear-gradient(left, #ff8935, #ff3a35);
  background: -o-linear-gradient(left, #ff8935, #ff3a35);
  background: linear-gradient(to right, #ff8935, #ff3a35);
  background: linear-gradient(90deg, #ff8935, #ff3a35);
}
.index-news-notice h4 a {
  float: right;
  line-height: 24px;
  color: #ff5307;
}
.index-news-notice .content {
  padding: 13px 0 0;
}
.index-news-notice .content a {
  position: relative;
  display: block;
  line-height: 43px;
}
.index-news-notice .content a:hover p {
  text-decoration: underline;
}
.index-news-notice .content a p {
  line-height: 43px;
  padding: 0 84px 0 0;
  color: #4d4d4d;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.index-news-notice .content a span {
  line-height: 43px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  color: #b2b2b2;
}
.index-news-notice .news {
  float: left;
  width: 781px;
  margin-right: 70px;
}
.index-news-notice .news .major {
  float: left;
  padding: 10px 0 0;
  margin: 0 30px 0 0;
}
.index-news-notice .news .major a i {
  display: block;
  width: 325px;
  height: 200px;
  background: url(../img/test/test10.jpg) center / cover no-repeat;
}
.index-news-notice .news .major a p {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 32px;
  padding: 0 12px;
  color: #fff;
  background: #000;
  background: rgba(0, 0, 0, 0.4);
}
.index-news-notice .news .minor {
  overflow: hidden;
}
.index-news-notice .notice {
  overflow: hidden;
}
.partners {
  background: #f6f6f6;
  text-align: center;
  padding: 0 0 70px;
}
.partners ul {
  display: block;
  width: 1224px;
  margin: -10px auto 0;
  *zoom: 1;
}
.partners ul:after {
  content: '';
  display: block;
  clear: both;
}
.partners ul li {
  float: left;
  width: 378px;
  line-height: 142px;
  height: 142px;
  border: 1px solid #dcdcdc;
  margin: 10px 14px;
  background: #fff;
  overflow: hidden;
}
.partners ul li img {
  max-width: 100%;
  vertical-align: middle;
  margin: -3px 0 0;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #aaa;
  font-family: "SimSun";
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #aaa;
  font-family: "SimSun";
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #aaa;
  font-family: "SimSun";
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #aaa;
  font-family: "SimSun";
}
