/* 代替base.css作为清除默认样式less */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
.mouse-hover:hover {
  text-decoration: underline;
}
html,
body {
  font: 16px/1.5 "\5FAE\8F6F\96C5\9ED1";
}
.breadcrumb {
  background: #eaeaea;
}
.breadcrumb ul:after {
  content: '';
  display: block;
  clear: both;
}
.breadcrumb ul li {
  float: left;
  padding: 5px 0;
  font-size: 14px;
  color: #333333;
}
.breadcrumb ul li:after {
  content: ">";
  margin: 0 5px;
}
.breadcrumb ul li.active {
  pointer-events: none;
}
.breadcrumb ul li.active:after {
  content: "";
}
body {
  min-width: 1360px;
  height: 100%;
  position: relative;
}
.width-wrap {
  width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}
.width-wrap:after {
  content: '';
  display: block;
  clear: both;
}
.nav {
  color: #fff;
}
.nav .nav-line {
  line-height: 40px;
  font-size: 13px;
  background: #333333;
}
.nav .nav-line:after {
  content: '';
  display: block;
  clear: both;
}
.nav .nav-line .nav-line-l {
  float: left;
  color: #d9d9d9;
}
.nav .nav-line .nav-line-r {
  float: right;
}
.nav .nav-line .nav-line-r a {
  padding: 0 8px;
  border-right: 1px solid #fff;
}
.nav .nav-line .nav-line-r a:last-of-type {
  border-right: none;
}
.nav .nav-line .nav-line-r a.active {
  color: #ff9900;
}
.nav .nav-main {
  line-height: 104px;
  padding: 0 6px;
  overflow: hidden;
  background: #009AD2 url(../img/common00.png) bottom left repeat-x;
}
.nav .nav-main:after {
  content: '';
  display: block;
  clear: both;
}
.nav .nav-main .top-img {
  float: left;
}
.nav .nav-main .top-img img {
  vertical-align: middle;
  margin: 0 25px 0 0;
}
.nav .nav-main .top-link {
  float: right;
}
.nav .nav-main .top-link a {
  float: left;
  padding: 0 35px;
  color: #fff;
  font-size: 18px;
}
.nav .nav-main .top-link a.active {
  color: #009AD2;
  background: #fff;
  box-shadow: -8px 0px 10px #018cbb, 8px 0px 10px #018cbb;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  line-height: 35px;
  background: #333;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.footer span {
  margin: 0 8px;
}
.projectlist:after {
  content: '';
  display: block;
  clear: both;
}
.projectlist .projectlist-item {
  float: left;
  width: 296px;
  margin: 30px 0 0;
  margin-right: 32px;
}
.projectlist .projectlist-item a {
  display: block;
}
.projectlist .projectlist-item img {
  display: block;
  width: 296px;
  height: 195px;
}
.projectlist .projectlist-item:nth-of-type(4n) {
  margin-right: 0;
}
.projectlist .projectlist-item.finish-project {
  position: relative;
}
.projectlist .projectlist-item.finish-project:after {
  content: "";
  position: absolute;
  top: 130px;
  right: 20px;
  width: 96px;
  height: 96px;
  background: url(../img/home03.png) center no-repeat;
  pointer-events: none;
}
.projectlist .projectlist-item .item-title,
.projectlist .projectlist-item .item-middle {
  padding: 10px 12px;
  border: 1px solid #dddddd;
  border-top: none;
}
.projectlist .projectlist-item .item-title {
  border-bottom: 1px dotted #dddddd;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.projectlist .projectlist-item .item-middle {
  font-size: 12px;
  border-bottom: none;
}
.projectlist .projectlist-item .item-middle:after {
  content: '';
  display: block;
  clear: both;
}
.projectlist .projectlist-item .item-middle span:nth-of-type(1) {
  float: left;
}
.projectlist .projectlist-item .item-middle span:nth-of-type(2) {
  float: right;
}
.projectlist .projectlist-item .item-line {
  height: 4px;
  background: #dddddd;
}
.projectlist .projectlist-item .item-line .item-percent {
  height: 100%;
  background: #009ad2;
  max-width: 100%;
}
.projectlist .projectlist-item .item-bottom {
  padding: 15px 0;
  border: 1px solid #dddddd;
  border-top: none;
}
.projectlist .projectlist-item .item-bottom:after {
  content: '';
  display: block;
  clear: both;
}
.projectlist .projectlist-item .item-bottom p {
  box-sizing: border-box;
  float: left;
  width: 33.333333333333%;
  border-right: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
}
.projectlist .projectlist-item .item-bottom p:nth-of-type(3) {
  border-right: none;
}
.projectlist .projectlist-item .item-bottom p em {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: 700;
}
.projectlist .projectlist-item .item-bottom p span {
  display: block;
  color: #646464;
}
html {
  background: #eaeaea;
}
.main {
  padding: 40px 0 210px;
}
.main:after {
  content: '';
  display: block;
  clear: both;
}
.main-left {
  float: left;
  min-height: 560px;
  padding: 20px;
  margin: 0 20px 0 0;
  background: #fff;
}
.main-left .self {
  text-align: center;
  font-size: 14px;
}
.main-left .self .img-wrap {
  width: 180px;
  height: 110px;
  line-height: 110px;
}
.main-left .self .img-wrap img {
  display: block;
  max-width: 170px;
  max-height: 100px;
  border: 5px solid #eaeaea;
  margin: 0 auto;
}
.main-left .self strong {
  display: block;
  margin: 10px 0;
  font-weight: 700;
  color: #333;
}
.main-left .self a {
  color: #009ad2;
}
.main-left ul {
  margin: 20px 0 0;
}
.main-left ul li {
  margin: 1px 0;
  font-size: 14px;
}
.main-left ul li a {
  display: block;
  padding: 8px 20px;
  background: #eaeaea url(../img/arrow.png) right 12px center no-repeat;
}
.main-left ul li a.active {
  background-color: #009ad2;
  color: #fff;
}
.main-right {
  overflow: hidden;
  background: #fff;
  padding: 20px;
}
.main-right h4 {
  font-size: 18px;
  line-height: 1;
  margin: 0 0 15px;
  color: #333;
}
.main-right-content {
  overflow: hidden;
  background: #fff;
  padding: 20px;
}
.main-right-content h4 {
  font-size: 18px;
  line-height: 1;
  margin: 0 0 15px;
  color: #333;
}
.me-project-detail {
  color: #333;
  font-size: 14px;
}
.me-project-detail h5 {
  font-size: 15px;
  line-height: 1;
  padding: 0 0 8px 12px ;
  border-bottom: 2px solid #ccc;
  margin: 0 0 0px;
  color: #333;
}
.me-project-detail .info {
  margin: 0 0 20px;
}
.me-project-detail .info:after {
  content: '';
  display: block;
  clear: both;
}
.me-project-detail .info .img-wrap {
  float: left;
  padding: 3px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 0 -1px 0 0;
}
.me-project-detail .info .img-wrap img {
  display: block;
  height: 75px;
}
.me-project-detail .info p {
  overflow: hidden;
  margin: 0 0 -1px 0;
  background: #eaeaea;
  border: 1px solid #ccc;
}
.me-project-detail .info p:after {
  content: '';
  display: block;
  clear: both;
}
.me-project-detail .info p span {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 0 12px;
  line-height: 40px;
}
.me-project-detail .detail {
  margin: 0 0 20px;
}
.me-project-detail .detail p {
  line-height: 40px;
  border-bottom: 1px dotted #ccc;
}
.me-project-detail .detail p:after {
  content: '';
  display: block;
  clear: both;
}
.me-project-detail .detail p span {
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding: 0 12px;
}
.me-project-detail .detail p span.only {
  width: 100%;
}
.me-project-detail .detail p i,
.me-project-detail .detail p em {
  font-style: normal;
}
.me-project-detail .detail p i.orange,
.me-project-detail .detail p em.orange {
  color: #ff9900;
}
.me-project-detail .detail p i.bold,
.me-project-detail .detail p em.bold {
  font-weight: bold;
}
.me-project-detail .detail p i.green,
.me-project-detail .detail p em.green {
  color: #339966;
}
.me-project-detail .detail p em {
  margin: 0 10px 0 0;
}
.me-project-detail .cert h5 {
  border: none;
}
.me-project-detail .cert table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.me-project-detail .cert table th {
  padding: 6px 12px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #eaeaea;
}
.me-project-detail .cert table td {
  padding: 6px 12px;
  border-bottom: 1px solid #ccc;
}
.me-project-detail .cert table td a {
  color: #009ad2;
  text-decoration: underline;
}
.tab-nav:after {
  content: '';
  display: block;
  clear: both;
}
.tab-nav li {
  float: left;
  font-size: 14px;
}
.tab-nav li:last-of-type a {
  border-right: 1px solid #ccc;
}
.tab-nav li a {
  display: block;
  padding: 4px 21px;
  color: #666666;
  background: #eaeaea;
  border: 1px solid #ccc;
  border-right: none;
}
.tab-nav li a.active {
  background: #009ad2;
  color: #fff;
}
.tab {
  display: none;
  border-top: 1px solid #ccc;
  margin: -1px 0 0;
}
.tab.active {
  display: block;
}
.tab .type {
  padding: 12px 6px 0;
  font-size: 12px;
}
.tab .type a {
  display: inline-block;
  padding: 3px 8px;
  color: #666;
  background: #eaeaea;
  border-radius: 5px;
  margin: 0 6px 0 0;
}
.tab .type a.active {
  background: #acd6ff;
}
.tab ul {
  margin: 12px 0 0;
}
.tab ul li {
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}
.tab ul li:after {
  content: '';
  display: block;
  clear: both;
}
.tab ul li.item-title {
  padding: 0;
  background: #eaeaea;
  color: #333;
  font-size: 12px;
  text-align: center;
}
.tab ul li.item-title .item-box {
  line-height: 2.5;
}
.tab ul li .item-box {
  float: left;
}
.tab ul li .item-box.item-box-1 {
  width: 45%;
}
.tab ul li .item-box.item-box-2 {
  width: 15%;
}
.tab ul li .item-box.item-box-3 {
  width: 15%;
}
.tab ul li .item-box.item-box-4 {
  width: 25%;
}
.tab ul li .item-box-1 i {
  float: left;
  width: 100px;
  height: 100px;
  background: url(../img/default.png) center / cover no-repeat;
}
.tab ul li .item-box-1 p {
  line-height: 30px;
  margin: 0 0 0 110px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tab ul li .item-box-1 div {
  margin: 10px 0 0 110px;
}
.tab ul li .item-box-1 div:after {
  content: '';
  display: block;
  clear: both;
}
.tab ul li .item-box-1 div em {
  float: left;
  width: 5em;
  padding: 5px 0;
  margin-right: 5px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  background: #eaeaea;
}
.tab ul li .item-box-1 div em:before {
  display: block;
  font-weight: normal;
}
.tab ul li .item-box-1 div em:nth-of-type(1):before {
  content: "已完成";
}
.tab ul li .item-box-1 div em:nth-of-type(2):before {
  content: "已筹集";
}
.tab ul li .item-box-1 div em:nth-of-type(3):before {
  content: "剩余时间";
}
.tab ul li .item-box-2 span {
  display: block;
  line-height: 100px;
  color: #ff3300;
  font-weight: 700;
  text-align: center;
}
.tab ul li .item-box-3 span {
  display: block;
  line-height: 100px;
  color: #009ad2;
  text-align: center;
}
.tab ul li .item-box-4 {
  line-height: 100px;
  text-align: center;
}
.tab ul li .item-box-4 a {
  display: inline-block;
  padding: 3px 8px;
  margin: 0 5px;
  border-radius: 5px;
  color: #fff;
  line-height: 1.5;
}
.tab ul li .item-box-4 a.detail {
  background: #339966;
}
.tab ul li .item-box-4 a.del {
  background: #b02300;
}
.tab.black .item-box-3 span {
  color: inherit;
}
.main-input {
  min-height: 486px;
  padding: 30px 10px 0;
  border-top: 1px solid #ccc;
  font-size: 14px;
}
.main-input .text-input {
  margin: 0 0 25px;
}
.main-input .text-input:after {
  content: '';
  display: block;
  clear: both;
}
.main-input .text-input span {
  float: left;
  width: 150px;
  line-height: 38px;
  border: 1px solid #ccc;
  text-align: center;
  background: #eaeaea;
  letter-spacing: 5px;
  color: #666;
}
.main-input .text-input p {
  overflow: hidden;
}
.main-input .text-input p input {
  width: 456px;
  padding: 0 12px;
  border: 1px solid #ccc;
  border-left: none;
  line-height: 38px;
  color: #666;
}
.main-input .text-input p input:focus {
  outline: none;
}
.main-input .radio-input {
  margin: 0 0 25px;
}
.main-input .radio-input:after {
  content: '';
  display: block;
  clear: both;
}
.main-input .radio-input span {
  float: left;
  width: 145px;
  line-height: 38px;
  border: 1px solid #fff;
  text-align: center;
  letter-spacing: 5px;
  color: #666;
}
.main-input .radio-input p {
  overflow: hidden;
  width: 480px;
  border-left: none;
  line-height: 1.5;
}
.main-input .radio-input p label {
  display: block;
  line-height: 38px;
}
.main-input .radio-input p strong {
  font-size: 13px;
  color: #999;
  font-weight: 500;
  font-family: "SimSun";
}
.main-input .submit-btn {
  margin: 40px 0 0 150px;
}
.main-input .submit-btn button {
  width: 480px;
  line-height: 38px;
  border-radius: 5px;
  color: #fff;
  font-size: inherit;
  background: #009ad2;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.1s;
}
.main-input .submit-btn button:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px #0072c1;
}
.main-input .submit-btn button:active {
  opacity: 0.6;
}
.main-input .agree-file {
  width: 480px;
  margin: 15px 0 10px 150px;
  text-align: center;
  color: #999;
  font-size: 12px;
}
.main-input .agree-file a {
  color: #333;
}
.card-main {
  min-height: 497px;
  padding: 30px 10px 0;
  border-top: 1px solid #ccc;
  font-size: 14px;
}
.card-main .card-main-top:after {
  content: '';
  display: block;
  clear: both;
}
.card-main .card-main-top .card {
  float: left;
  width: 218px;
  padding: 0 0 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 0 200px 0 0;
}
.card-main .card-main-top .card .name {
  padding: 10px 18px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin: 0 0 10px;
  background: #009AD2;
  color: #fff;
}
.card-main .card-main-top .card p {
  padding: 2px 18px;
  color: #666;
}
.card-main .card-main-top .pay {
  float: left;
  width: 250px;
  line-height: 115px;
  text-align: center;
}
.card-main .card-main-top .pay em {
  display: inline-block;
  width: 100%;
  color: #ff3300;
  font-style: normal;
  font-weight: 700;
}
.card-main .card-main-top .pay span {
  display: inline-block;
  width: 100%;
  line-height: 1.5;
  color: #333;
}
.card-main .card-main-top .receive {
  float: left;
  width: 250px;
  line-height: 115px;
  text-align: center;
}
.card-main .card-main-top .receive em {
  display: inline-block;
  width: 100%;
  color: #ff3300;
  font-style: normal;
  font-weight: 700;
}
.card-main .card-main-top .receive span {
  display: inline-block;
  width: 100%;
  line-height: 1.5;
  color: #333;
}
.card-main .card-main-bottom {
  margin: 100px 0 0;
}
.card-main .card-main-bottom table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0 0;
  text-align: center;
  color: #666;
}
.card-main .card-main-bottom table th,
.card-main .card-main-bottom table td {
  padding: 6px 0;
  border: 1px solid #ccc;
}
.card-main .card-main-bottom table th:nth-of-type(1),
.card-main .card-main-bottom table td:nth-of-type(1) {
  border-left: none;
}
.card-main .card-main-bottom table th:nth-last-of-type(1),
.card-main .card-main-bottom table td:nth-last-of-type(1) {
  border-right: none;
}
.card-main .card-main-bottom table th {
  background: #eaeaea;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #aaa;
  font-family: "SimSun";
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #aaa;
  font-family: "SimSun";
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #aaa;
  font-family: "SimSun";
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #aaa;
  font-family: "SimSun";
}
