/* 代替base.css作为清除默认样式less */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
.mouse-hover:hover {
  text-decoration: underline;
}
html,
body {
  font: 16px/1.5 "\5FAE\8F6F\96C5\9ED1";
}
.breadcrumb {
  background: #eaeaea;
}
.breadcrumb ul:after {
  content: '';
  display: block;
  clear: both;
}
.breadcrumb ul li {
  float: left;
  padding: 5px 0;
  font-size: 14px;
  color: #333333;
}
.breadcrumb ul li:after {
  content: ">";
  margin: 0 5px;
}
.breadcrumb ul li.active {
  pointer-events: none;
}
.breadcrumb ul li.active:after {
  content: "";
}
body {
  min-width: 1360px;
  height: 100%;
  position: relative;
}
.width-wrap {
  width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}
.width-wrap:after {
  content: '';
  display: block;
  clear: both;
}
.nav {
  color: #fff;
}
.nav .nav-line {
  line-height: 40px;
  font-size: 13px;
  background: #333333;
}
.nav .nav-line:after {
  content: '';
  display: block;
  clear: both;
}
.nav .nav-line .nav-line-l {
  float: left;
  color: #d9d9d9;
}
.nav .nav-line .nav-line-r {
  float: right;
}
.nav .nav-line .nav-line-r a {
  padding: 0 8px;
  border-right: 1px solid #fff;
}
.nav .nav-line .nav-line-r a:last-of-type {
  border-right: none;
}
.nav .nav-line .nav-line-r a.active {
  color: #ff9900;
}
.nav .nav-main {
  line-height: 104px;
  padding: 0 6px;
  overflow: hidden;
  background: #009AD2 url(../img/common00.png) bottom left repeat-x;
}
.nav .nav-main:after {
  content: '';
  display: block;
  clear: both;
}
.nav .nav-main .top-img {
  float: left;
}
.nav .nav-main .top-img img {
  vertical-align: middle;
  margin: 0 25px 0 0;
}
.nav .nav-main .top-link {
  float: right;
}
.nav .nav-main .top-link a {
  float: left;
  padding: 0 35px;
  color: #fff;
  font-size: 18px;
}
.nav .nav-main .top-link a.active {
  color: #009AD2;
  background: #fff;
  box-shadow: -8px 0px 10px #018cbb, 8px 0px 10px #018cbb;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  line-height: 35px;
  background: #333;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.footer span {
  margin: 0 8px;
}
.projectlist:after {
  content: '';
  display: block;
  clear: both;
}
.projectlist .projectlist-item {
  float: left;
  width: 296px;
  margin: 30px 0 0;
  margin-right: 32px;
}
.projectlist .projectlist-item a {
  display: block;
}
.projectlist .projectlist-item img {
  display: block;
  width: 296px;
  height: 195px;
}
.projectlist .projectlist-item:nth-of-type(4n) {
  margin-right: 0;
}
.projectlist .projectlist-item.finish-project {
  position: relative;
}
.projectlist .projectlist-item.finish-project:after {
  content: "";
  position: absolute;
  top: 130px;
  right: 20px;
  width: 96px;
  height: 96px;
  background: url(../img/home03.png) center no-repeat;
  pointer-events: none;
}
.projectlist .projectlist-item .item-title,
.projectlist .projectlist-item .item-middle {
  padding: 10px 12px;
  border: 1px solid #dddddd;
  border-top: none;
}
.projectlist .projectlist-item .item-title {
  border-bottom: 1px dotted #dddddd;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.projectlist .projectlist-item .item-middle {
  font-size: 12px;
  border-bottom: none;
}
.projectlist .projectlist-item .item-middle:after {
  content: '';
  display: block;
  clear: both;
}
.projectlist .projectlist-item .item-middle span:nth-of-type(1) {
  float: left;
}
.projectlist .projectlist-item .item-middle span:nth-of-type(2) {
  float: right;
}
.projectlist .projectlist-item .item-line {
  height: 4px;
  background: #dddddd;
}
.projectlist .projectlist-item .item-line .item-percent {
  height: 100%;
  background: #009ad2;
  max-width: 100%;
}
.projectlist .projectlist-item .item-bottom {
  padding: 15px 0;
  border: 1px solid #dddddd;
  border-top: none;
}
.projectlist .projectlist-item .item-bottom:after {
  content: '';
  display: block;
  clear: both;
}
.projectlist .projectlist-item .item-bottom p {
  box-sizing: border-box;
  float: left;
  width: 33.333333333333%;
  border-right: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
}
.projectlist .projectlist-item .item-bottom p:nth-of-type(3) {
  border-right: none;
}
.projectlist .projectlist-item .item-bottom p em {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: 700;
}
.projectlist .projectlist-item .item-bottom p span {
  display: block;
  color: #646464;
}
.main .part {
  padding: 15px 20px;
  border: 1px solid #dfdfdf;
  margin: 0 0 32px;
  font-size: 15px;
  color: #333;
}
.main .part .part-title {
  display: inline-block;
  padding: 0 5px 12px;
  border-bottom: 2px solid #009ad2;
  margin: 0 0 -2px;
  font-size: 18px;
  font-weight: 700;
}
.main .part .part-content {
  padding: 20px 0 0;
  border-top: 2px solid #eaeaea;
}
.main {
  padding: 0 0 170px;
}
.main-content {
  padding: 30px 0 10px;
}
.main-content:after {
  content: '';
  display: block;
  clear: both;
}
.main-content .main-left {
  float: left;
  width: 830px;
}
.main-content .main-right {
  float: right;
  width: 420px;
}
.left-top:after {
  content: '';
  display: block;
  clear: both;
}
.left-top .left-top-img {
  float: left;
  margin: 0 20px 0 0;
}
.left-top .left-top-img img {
  display: block;
  height: 150px;
}
.left-top .left-top-content {
  overflow: hidden;
}
.left-top .left-top-content p {
  line-height: 40px;
  padding: 0 18px;
  margin: 15px 0 0;
  background: #eaeaea;
}
.left-top .left-top-content p:before {
  font-weight: 700;
  color: #333;
}
.left-top .left-top-content p.left-top-p1 {
  margin: 0;
  color: #990000;
  font-weight: 700;
}
.left-top .left-top-content p.left-top-p1:before {
  content: "领投人：";
}
.left-top .left-top-content p.left-top-p2:before {
  content: "领投资金：";
}
.left-top .left-top-content p.left-top-p3:before {
  content: "领投时间：";
}
.left-intro {
  line-height: 1;
}
.left-intro:after {
  content: '';
  display: block;
  clear: both;
}
.left-intro .left-intro1 {
  float: left;
  width: 360px;
}
.left-intro .left-intro1:before {
  content: "项目名称：";
  font-weight: 700;
}
.left-intro .left-intro2 {
  float: right;
  width: 360px;
}
.left-intro .left-intro2:before {
  content: "融资方案：";
  font-weight: 700;
}
.left-info .info-img img {
  display: block;
  width: 100%;
  margin: 20px 0 0;
}
.keyman-list {
  margin: -20px 0 0;
}
.keyman-list .keyman-item {
  margin: 20px 0 0;
}
.keyman-list .keyman-item:after {
  content: '';
  display: block;
  clear: both;
}
.keyman-list .keyman-item i {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 20px 0 0;
  background: url(img/default.png) center / cover no-repeat;
}
.keyman-list .keyman-item div {
  overflow: hidden;
  padding: 10px 0 0;
}
.keyman-list .keyman-item div p {
  margin: 0 0 1em;
}
.keyman-list .keyman-item div p span {
  margin: 0 15px 0 0;
}
.investor-list {
  margin: -20px 0 0;
}
.investor-list .investor-item {
  margin: 20px 0 0;
}
.investor-list .investor-item:after {
  content: '';
  display: block;
  clear: both;
}
.investor-list .investor-item i {
  float: left;
  width: 72px;
  height: 72px;
  border-radius: 100px;
  margin: 0 48px 0 0;
  background: url(img/) center / cover no-repeat;
}
.investor-list .investor-item div {
  overflow: hidden;
  line-height: 72px;
}
.investor-list .investor-item div span {
  float: left;
  width: 33.333333333%;
}
.ad.part a,
.ad.part img {
  display: block;
  width: 100%;
}
.download.part {
  padding: 0;
  border: none;
  background: #009ad2;
}
.download.part a {
  display: block;
  line-height: 46px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  border-bottom: 2px solid #006a93;
}
.part .part-content .notice {
  margin: 0 0 20px;
  color: #999;
  font-size: 14px;
}
.part .part-content .notice p {
  line-height: 2;
}
.part.process {
  padding: 0;
  color: #666666;
}
.part.process em {
  padding: 0 5px 0 0;
  font-size: 20px;
  font-style: normal;
  color: #333;
}
.part.process h4 {
  background: #eaeaea;
  text-align: center;
  line-height: 40px;
  font-size: inherit;
  font-weight: 700;
  border-bottom: 1px solid #dfdfdf;
}
.part.process .process-step {
  position: relative;
  height: 105px;
  border-bottom: 1px solid #dfdfdf;
}
.part.process .process-step span {
  position: absolute;
  top: 16px;
  text-align: center;
  color: #999;
}
.part.process .process-step span:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 0 6px;
}
.part.process .process-step span:after {
  content: "";
  position: absolute;
  top: 25px;
  right: -51px;
  width: 46px;
  height: 12px;
  background: url(../img/detail01.png) center no-repeat;
}
.part.process .process-step .step1 {
  left: 25px;
}
.part.process .process-step .step1:before {
  background: url(../img/liucheng_hui01.png) center no-repeat;
}
.part.process .process-step .step2 {
  left: 131px;
}
.part.process .process-step .step2:before {
  background: url(../img/liucheng_hui02.png) center no-repeat;
}
.part.process .process-step .step3 {
  right: 131px;
}
.part.process .process-step .step3:before {
  background: url(../img/liucheng_hui03.png) center no-repeat;
}
.part.process .process-step .step4 {
  right: 25px;
}
.part.process .process-step .step4:before {
  background: url(../img/liucheng_hui04.png) center no-repeat;
}
.part.process .process-step .step4:after {
  content: none;
}
.part.process .process-step span.active {
  color: #333;
}
.part.process .process-step .step1.active:before {
  background: url(../img/liucheng_lan01.png) center no-repeat;
}
.part.process .process-step .step2.active:before {
  background: url(../img/liucheng_lan02.png) center no-repeat;
}
.part.process .process-step .step3.active:before {
  background: url(../img/liucheng_lan03.png) center no-repeat;
}
.part.process .process-step .step4.active:before {
  background: url(../img/liucheng_lan04.png) center no-repeat;
}
.part.process .process-status {
  padding: 20px 0 0;
}
.part.process .process-status:after {
  content: '';
  display: block;
  clear: both;
}
.part.process .process-status .status-left {
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 0 30px;
}
.part.process .process-status .status-left:after {
  content: "";
  position: absolute;
  top: 9px;
  right: 0;
  height: 145px;
  border-right: 1px solid #ccc;
}
.part.process .process-status .status-right {
  box-sizing: border-box;
  float: right;
  width: 50%;
  padding: 0 30px;
}
.part.process .process-status .status-bottom {
  clear: both;
  margin: 0 20px;
  background: #cccccc;
}
.part.process .process-status .status-bottom .status-percent {
  width: 50%;
  max-width: 100%;
  height: 4px;
  background: #00a0db;
}
.part.process .process-status h6 {
  font-size: inherit;
  font-weight: inherit;
}
.part.process .process-status p {
  text-align: center;
  margin: 20px 0;
}
.part.process .process-received {
  margin: 10px 20px 0;
  padding: 0 0 20px;
}
.part.process .process-received:after {
  content: '';
  display: block;
  clear: both;
}
.part.process .process-received p {
  float: left;
  width: 50%;
  padding: 0 0 10px;
}
.part.process .process-received a {
  clear: both;
  display: block;
  line-height: 46px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  border-bottom: 2px solid #006a93;
  background: #009ad2;
}
