/* 代替base.css作为清除默认样式less */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
.mouse-hover:hover {
  text-decoration: underline;
}
html,
body {
  font-size: 14px;
  color: #333;
}
img {
  max-width: 100%;
  display: block;
}
.no-animation {
  opacity: 1;
}
a {
  opacity: 1;
}
.container {
  padding-bottom: 80px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  text-align: center;
  background: #fff;
  font-size: 12px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.3);
}
.footer a {
  float: left;
  width: 25%;
  height: 48px;
  color: #6d6d6d;
  line-height: 1em;
}
.footer a:before {
  content: "";
  display: block;
  height: 24px;
  margin: 4px 0;
  background: url(../img/navicon_01s.png) center / contain no-repeat;
}
.footer a:nth-of-type(1):before {
  background-image: url(../img/navicon_01s.png);
}
.footer a:nth-of-type(2):before {
  background-image: url(../img/navicon_02s.png);
}
.footer a:nth-of-type(3):before {
  background-image: url(../img/navicon_03s.png);
}
.footer a:nth-of-type(4):before {
  background-image: url(../img/navicon_04s.png);
}
.footer a.active {
  color: #ff7200;
  pointer-events: none;
}
.footer a.active:nth-of-type(1):before {
  background-image: url(../img/navicon_01.png);
}
.footer a.active:nth-of-type(2):before {
  background-image: url(../img/navicon_02.png);
}
.footer a.active:nth-of-type(3):before {
  background-image: url(../img/navicon_03.png);
}
.footer a.active:nth-of-type(4):before {
  background-image: url(../img/navicon_04.png);
}
.project-list.little {
  border-bottom: 1px solid #e6e6e6;
  background: #e6e6e6;
}
.project-list.little .project-item {
  position: relative;
  display: block;
  padding: 12px;
  margin: 0 0 1px;
  background: #fff;
}
.project-list.little .project-item:last-of-type {
  margin: 0 0 0px;
}
.project-list.little .project-item:after {
  content: '';
  display: block;
  clear: both;
}
.project-list.little .project-item .project-img img {
  display: block;
  border-radius: 5px;
}
.project-list.little .project-item .project-content {
  position: relative;
  margin: 11px 0 0;
}
.project-list.little .project-item .project-content .project-major:after {
  content: '';
  display: block;
  clear: both;
}
.project-list.little .project-item .project-content .project-major .project-title {
  margin: 0 45px 0 0;
  color: #333;
  font-size: 17px;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.project-list.little .project-item .project-content .project-major .project-abstract {
  margin: 5px 45px 0 0;
  color: #999;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.project-list.little .project-item .project-content .project-major .item-line {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 91px;
  background: #d9d9d9;
  overflow: hidden;
  border-radius: 5px;
}
.project-list.little .project-item .project-content .project-major .item-line span {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  width: 100%;
  line-height: 14px;
  margin: -7px 0 0;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.project-list.little .project-item .project-content .project-major .item-line .item-percent {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 10%;
  width: 100%;
  background: #ff9400;
}
.project-list.little .project-item .project-content .project-major .project-status {
  display: none;
}
.project-list.little .project-item .project-content .project-info {
  margin: 8px 45px 0 0;
}
.project-list.little .project-item .project-content .project-info:after {
  content: '';
  display: block;
  clear: both;
}
.project-list.little .project-item .project-content .project-info span {
  float: left;
  width: 25%;
  color: #333333;
}
.project-list.little .project-item .project-content .project-info span:after {
  content: "";
  display: block;
  color: #999;
  font-size: 13px;
}
.project-list.little .project-item .project-content .project-info span:nth-of-type(1):after {
  content: "融资目标";
}
.project-list.little .project-item .project-content .project-info span:nth-of-type(2):after {
  content: "已众筹";
}
.project-list.little .project-item .project-content .project-info span:nth-of-type(3):after {
  content: "剩余时间";
}
.project-list.little .project-item .project-content .project-info span:nth-of-type(4):after {
  content: "出让股份";
}
.project-list.little .project-item:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 34px;
  width: 58px;
  height: 39px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.project-list.little .project-item.yr:before {
  background-image: url(../img/yr.png);
}
.project-list.little .project-item.mj:before {
  background-image: url(../img/mj.png);
}
.project-list.little .project-item.jg:before {
  background-image: url(../img/jg.png);
}
.project-list.little .project-item.cz:before {
  background-image: url(../img/cz.png);
}
.project-list.little .project-item.finish:after {
  content: "";
  position: absolute;
  bottom: 90px;
  right: 14px;
  z-index: 3;
  width: 100px;
  height: 100px;
  background: url(../img/home03.png) center / contain no-repeat;
}
.project-list.many {
  border-bottom: 1px solid #e6e6e6;
  background: #e6e6e6;
}
.project-list.many .project-item {
  padding: 8px 8px;
  display: block;
  margin: 0 0 1px;
  background: #fff;
}
.project-list.many .project-item:last-of-type {
  margin: 0 0 0px;
}
.project-list.many .project-item:after {
  content: '';
  display: block;
  clear: both;
}
.project-list.many .project-item .project-img {
  float: left;
  width: 93px;
  padding: 5px;
  border-radius: 5px;
  margin: 4px 8px 4px 0;
  background: #f0f0f0;
}
.project-list.many .project-item .project-img img {
  display: block;
  width: 93px;
  height: 61.5px;
}
.project-list.many .project-item .project-content {
  overflow: hidden;
}
.project-list.many .project-item .project-content .project-major:after {
  content: '';
  display: block;
  clear: both;
}
.project-list.many .project-item .project-content .project-major .project-title {
  margin: 0 60px 0 0;
  color: #333;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.project-list.many .project-item .project-content .project-major .project-abstract {
  display: none;
}
.project-list.many .project-item .project-content .project-major .item-line {
  position: relative;
  height: 12px;
  margin: 5px 60px 5px 0;
  background: #d9d9d9;
  overflow: hidden;
  border-radius: 5px;
}
.project-list.many .project-item .project-content .project-major .item-line span {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
}
.project-list.many .project-item .project-content .project-major .item-line .item-percent {
  height: 100%;
  background: #ff9400;
  max-width: 100%;
}
.project-list.many .project-item .project-content .project-major .project-status {
  float: right;
  line-height: 2;
  padding: 0 6px;
  border: 1px solid #ff9400;
  border-radius: 5px;
  margin: 5px 0 0;
  font-size: 12px;
  color: #ff9400;
}
.project-list.many .project-item .project-content .project-info {
  text-align: center;
}
.project-list.many .project-item .project-content .project-info:after {
  content: '';
  display: block;
  clear: both;
}
.project-list.many .project-item .project-content .project-info span {
  float: left;
  width: 25%;
  color: #333333;
}
.project-list.many .project-item .project-content .project-info span:after {
  content: "";
  display: block;
  color: #999;
  font-size: 13px;
}
.project-list.many .project-item .project-content .project-info span:nth-of-type(1):after {
  content: "融资目标";
}
.project-list.many .project-item .project-content .project-info span:nth-of-type(2):after {
  content: "已众筹";
}
.project-list.many .project-item .project-content .project-info span:nth-of-type(3):after {
  content: "剩余时间";
}
.project-list.many .project-item .project-content .project-info span:nth-of-type(4):after {
  content: "出让股份";
}
.news-list {
  border-bottom: 1px solid #e6e6e6;
  background: #e6e6e6;
}
.news-list .news-item {
  display: block;
  padding: 8px;
  margin: 0 0 1px;
  background: #fff;
}
.news-list .news-item:last-of-type {
  margin: 0 0 0px;
}
.news-list .news-item:after {
  content: '';
  display: block;
  clear: both;
}
.news-list .news-item .news-img {
  float: right;
  height: 62px;
}
.news-list .news-item .news-img img {
  max-width: 100%;
  height: 100%;
  border-radius: 5px;
  margin: 5px 0 5px 8px;
}
.news-list .news-item .news-content {
  overflow: hidden;
}
.news-list .news-item .news-content p {
  line-height: 24px;
}
.news-list .news-item .news-content .news-title {
  color: #333;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.news-list .news-item .news-content .news-abstract {
  font-size: 13px;
  color: #999;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.news-list .news-item .news-content .news-date {
  font-size: 10px;
  color: #999;
}
html,
body {
  background: #e6e6e6;
}
.top {
  position: relative;
  line-height: 40px;
  background: #ff6600;
  color: #fff;
  text-align: center;
}
.top h2 {
  font-size: 18px;
  font-weight: 700;
}
.top .back {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  padding: 10px;
  background: url(../img/arrow.png) center / 21px no-repeat;
  transform: rotate(180deg);
}
.top .star {
  position: absolute;
  top: 7px;
  right: 12px;
  line-height: 20px;
  padding: 3px 8px 3px 25px;
  border-radius: 5px;
  background: #ffb380 url(../img/star-empty.png) left 5px center / 18px no-repeat;
}
.top .star:after {
  content: "收藏";
}
.top .star.active {
  background-image: url(../img/star-full.png);
}
.top .star.active:after {
  content: "已收藏";
}
.project-item {
  pointer-events: none;
}
.section {
  background: #fff;
  margin: 0 0 10px;
}
.section .title {
  line-height: 32px;
  padding: 2px 0 0;
  border-bottom: 1px solid #e6e6e6;
  margin: 0 0 -1px;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
}
.section .title:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 16px;
  margin: -3px 10px 0;
  vertical-align: middle;
  background: url(../img/listicon.png) center / contain no-repeat;
}
.step .step-main {
  padding: 10px 0 8px;
  text-align: center;
}
.step .step-main p {
  display: inline-block;
}
.step .step-main p span {
  position: relative;
  float: left;
  color: #666;
  margin: 0 50px 0 0;
}
.step .step-main p span:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 0 8px;
  background: url(../img/yr_01.png) center / contain no-repeat;
}
.step .step-main p span:after {
  content: "";
  position: absolute;
  top: 0;
  right: -45px;
  width: 40px;
  height: 40px;
  background: url(../img/jiantou.png) center / contain no-repeat;
}
.step .step-main p span:nth-of-type(2):before {
  background-image: url(../img/mj_01.png);
}
.step .step-main p span:nth-of-type(3):before {
  background-image: url(../img/cz_01.png);
}
.step .step-main p span:last-of-type {
  margin: 0;
}
.step .step-main p span:last-of-type:before {
  background-image: url(../img/jg_01.png);
}
.step .step-main p span:last-of-type:after {
  display: none;
}
.step .step-main p span.active:nth-of-type(1):before {
  background-image: url(../img/yr_02.png);
}
.step .step-main p span.active:nth-of-type(2):before {
  background-image: url(../img/mj_02.png);
}
.step .step-main p span.active:nth-of-type(3):before {
  background-image: url(../img/cz_02.png);
}
.step .step-main p span.active:last-of-type:before {
  background-image: url(../img/jg_02.png);
}
.team-list {
  padding: 0 0 1px;
  color: #525252;
  font-size: 14px;
}
.team-list .team-item {
  padding: 0 10px;
  margin: 10px 0;
}
.team-list .team-item:after {
  content: '';
  display: block;
  clear: both;
}
.team-list .team-item i {
  float: left;
  width: 65px;
  height: 65px;
  background-color: #eee;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.team-list .team-item div {
  overflow: hidden;
  padding: 0 0 0 10px;
}
.team-list .team-item div p {
  line-height: 1.5;
}
.team-list .team-item div p span:first-of-type {
  margin: 0 15px 0 0;
}
.team-list .team-item div p:first-of-type {
  margin: 0 0 5px;
}
.team-list .team-item div p:nth-of-type(2) {
  height: 3em;
  overflow: hidden;
}
.investor-list {
  padding: 0 0 1px;
  color: #525252;
  font-size: 14px;
}
.investor-list .investor-item {
  padding: 0 10px;
  margin: 10px 0;
}
.investor-list .investor-item:after {
  content: '';
  display: block;
  clear: both;
}
.investor-list .investor-item i {
  float: left;
  width: 65px;
  height: 65px;
  border-radius: 100px;
  background-color: #eee;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.investor-list .investor-item div {
  overflow: hidden;
  padding: 7px 0 0 10px;
}
.investor-list .investor-item div p {
  line-height: 25px;
}
.investor-list .investor-item div p span:first-of-type {
  margin: 0 15px 0 0;
}
