<!DOCTYPE html>
<html>
<head>
<title>投资人管理</title>
#parse("sys/header.html")
<script src="${rc.contextPath}/statics/libs/ajaxupload.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<input name="token" id="token" type="hidden"></input>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="投资人名称">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
	</div>  
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">姓名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="investor.name" />
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">是否可见</div> 
				<label class="radio-inline">
				  <input type="radio" name="isshow" value="0" v-model="investor.isshow"/> 不可见
				</label>
				<label class="radio-inline">
				  <input type="radio" name="isshow" value="1" v-model="investor.isshow"/> 可见
				</label>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">简介</div>
			   	<div class="col-sm-10">
			      <textarea v-model="investor.brief" name="brief" ></textarea>
			    </div>
			</div>
			<template v-if="investor.id">
				<div class="form-group">
				   	<div class="col-sm-2 control-label">头像</div>
				   	<div class="col-sm-10">
				      <img :src="investor.pic"/>
				    </div>
				</div>
            </template>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" id="uploadInvestor" value="上传"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload"  value="返回"/>
			</div>
		</form>
	</div>
</div>

 <script src="${rc.contextPath}/js/sys/inverstor.js?_${date.systemTime}"></script>
</body>
</html>