<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>项目详情</title>
    <link rel="stylesheet" href="/m/css/project_detail.css">
    <script type="text/javascript" src="/m/js/vue.min.js"></script>
    <script type="text/javascript" src="/m/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/m/js/base.js"></script>
</head>

<body>
    <div id="wrap" v-cloak>

        <!-- 内容 begin -->
        <div class="container">

            <!-- 顶部title -->
            <div class="top-nav">
                <a class="back no-animation" href="javascript:history.go(-1)"></a>
                <h2>项目详情</h2>
                <a class="star" href="javascript:void(0)"></a>
            </div>

            <div class="main">
                <!-- 项目列表 -->
                <div class="section">
                    <tpl-project-list :data="[projectListData]"></tpl-project-list>
                </div>

                <!-- 项目筹资流程 -->
                <div class="section step">
                    <div class="title">项目筹资流程</div>
                    <div class="step-main">
                        <p>
                            <span :class="{active:projectListData.status === 20}">预热</span>
                            <span :class="{active:projectListData.status === 30}">募集</span>
                            <span :class="{active:projectListData.status === 40}">出资</span>
                            <span :class="{active:projectListData.status === 50}">交割</span>
                        </p>
                    </div>
                </div>

                <!-- 项目详情 -->
                <div class="section">
                    <div class="title">项目详情</div>
                    <div>
                        <img v-if="projectListData.pjDocumentEntities.TB" :src="projectListData.pjDocumentEntities.TB.pic">
                        <img v-if="projectListData.pjDocumentEntities.XQ" :src="projectListData.pjDocumentEntities.XQ.pic">
                        <img v-if="projectListData.pjDocumentEntities.DB" :src="projectListData.pjDocumentEntities.DB.pic">
                    </div>
                </div>
                <!-- 核心成员 -->
                <div class="section ">
                    <div class="title">核心成员</div>
                    <ul class="team-list">
                        <li class="team-item" v-for='val in projectListData.pjTeamEntities' key='val.id' >
                            <i :style="'background-image: url('+val.pic+')'"></i>
                            <div>
                                <p>
                                    <span>姓名：{{val.name}}</span>
                                    <span>职位：{{val.position}}</span>
                                </p>
                                <p>
                                   	 描述：{{val.intro}}
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- 本轮投资意向 -->
                <div class="section ">
                    <div class="title">本轮投资意向</div>
                    <ul class="investor-list" v-if="projectListData.status === 20">
                        <li class="investor-item" v-for='val in projectListData.orderList' key='val.id'>
                            <i :style="'background-image: url('+unescape(val.tbUserEntity.pic)+')'"></i>
                            <div>
                                <p>
                                    <span>{{formatPhone(val.tbUserEntity.mobile)}}</span>
                                    <span>意向投资金额：{{changeMillion(val.intentionamount)}}元</span>
                                </p>
                                <p>
                                    	意向确认时间：{{val.createtime}}
                                </p>
                            </div>
                        </li>
                    </ul>
                    <ul class="investor-list" v-else>
                        <li class="investor-item" v-for='val in projectListData.orderList' key='val.id'>
                            <i :style="'background-image: url('+unescape(val.tbUserEntity.pic)+')'"></i>
                            <div>
                                <p>
                                    <span>{{formatPhone(val.tbUserEntity.mobile)}}</span>
                                    <span>投资金额：{{changeMillion(val.amount)}}元</span>
                                </p>
                                <p>
                                    	确认时间：{{val.createtime}}
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>


        </div>
        <!-- 内容 end -->



        <!-- 底部 -->
        <a class="footer" :href="'order.html?pjid='+projectListData.id" v-if="projectListData.status === 20 && !projectListData.userOrder && projectListData.userContract">我要报名</a>
        <a class="footer" :href="'order.html?pjid='+projectListData.id" v-if="projectListData.status === 20 && !projectListData.userOrder && !projectListData.userContract">我要报名</a>
        <a class="footer" href="###" v-if="projectListData.status === 20 && projectListData.userOrder">已报名</a>
        <a class="footer" href="###" v-if="projectListData.status === 30 && projectListData.userOrder && projectListData.userOrder.status === 10 && projectListData.userOrder.amount > 0">已投资</a>
        <a class="footer" :href="'order.html?pjid='+projectListData.id" v-if="projectListData.status === 30 && projectListData.userOrder && projectListData.userOrder.status === 10 && projectListData.userOrder.amount === 0">我要投资</a>
        <a class="footer" :href="'order.html?pjid='+projectListData.id" v-if="projectListData.status === 40 && projectListData.userOrder && projectListData.userOrder.status === 20">我要出资</a>
    </div>

    <!-- 浮窗系列 -->
    <div class="float">
        <div class="mask active black-mask"></div>
        <div class="contract-tips-float">
            正跳转到合同签署界面......
        </div>
        <div class="document-tips-float">
            <a class="close" onclick="hideTips2();" href="javascript:void(0)"></a>
            <h5>提示</h5>
            <div class="box box1">
                <p>此项目还有部分核心内容，需要签署<strong>【保密协议】</strong>并交纳保密金（起投金额的1%）后方可查看，项目募集完成后保密金原路退回，亦可直接报名。</p>
                <button onclick="contract('B');">查看资料</button>
                <button style="background: #ff8f35;margin:0 0 0 30px;" onclick="hideTips2();">不看资料</button>
            </div>
            <div class="box box2">
                <p>保密金已经提交，我们工作人员正在审核中，请注意查看短信通知，如有疑问，请及时联系我们工作人员。</p>
                <button onclick="hideTips2();">确认</button>
            </div>
        </div>
        <div class="risk-tips-float">
            <a class="close" onclick="hideTips3();" href="javascript:void(0)"></a>
            <h5>尊敬的投资人</h5>
            <p class="p1">为了让您在进行互联网非公开股权投资前，尽可能多地了解互联网非公开股权投资的风险，带投兵（深圳）网络科技股份有限公司在此郑重提醒，请您务必仔细阅读并理解本《风险提示书》，谨慎评估风险后，再决定是否继续进行互联网非公开股权投资。</p>
            <p class="p2">
                <a target="_blank" href="/risks.html">【风险提示书】</a>
            </p>
            <p class="p3">
                同时，为保证您投资后的合伙权益，请知悉如下合同
            </p>
            <p class="p4">
                <a target="_blank" href="/partnership.html">【合伙协议】</a>
                <a target="_blank" href="/partner.html">【合伙人协议】</a>
                <a target="_blank" href="/transferOfRights.html">【合伙人转让权益协议】</a>
            </p>
            <p class="p5">
                <button onclick="contract('T');">已阅读，同意</button>
            </p>
        </div>
    </div>

    <script src="/m/js/tpl_project_list.js"></script>
    <script type="text/javascript" src="/m/js/project_detail.js"></script>
</body>

</html>