@charset "utf-8";
/* 代替base.css作为清除默认样式less */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
.mouse-hover:hover {
  text-decoration: underline;
}
html,
body {
  line-height: 1.4;
  font-size: 14px;
  color: #333;
}
img {
  max-width: 100%;
  display: block;
}
[v-cloak] {
  display: none;
}
.no-animation {
  opacity: 1;
}
a {
  opacity: 1;
}
.container {
  padding-bottom: 80px;
}
.top-nav {
  display: none;
  position: relative;
  line-height: 2.5;
  font-size: 16px;
  background: -webkit-linear-gradient(left, #ff8b35, #fd5e23);
  background: -o-linear-gradient(left, #ff8b35, #fd5e23);
  background: linear-gradient(to right, #ff8b35, #fd5e23);
  color: #fff;
  text-align: center;
}
.top-nav h2 {
  font-size: inherit;
  font-weight: inherit;
}
.top-nav .back {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  padding: 10px;
  background: url(../img/arrow.png) center / 21px no-repeat;
  transform: rotate(180deg);
}
.top-nav .star {
  position: absolute;
  top: 7px;
  right: 12px;
  line-height: 20px;
  padding: 3px 8px 3px 25px;
  border-radius: 5px;
  background: #ffb380 url(../img/star-empty.png) left 5px center / 18px no-repeat;
}
.top-nav .star:after {
  content: "收藏";
  font-size: 13px;
}
.top-nav .star.active {
  background-image: url(../img/star-full.png);
}
.top-nav .star.active:after {
  content: "已收藏";
}
.footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  text-align: center;
  background: #fff;
  font-size: 12px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.3);
}
.footer.active {
  display: block;
}
.footer a {
  float: left;
  width: 25%;
  height: 48px;
  color: #6d6d6d;
  line-height: 1em;
}
.footer a:before {
  content: "";
  display: block;
  height: 24px;
  margin: 4px 0;
  background: url(../img/navicon_01s.png) center / contain no-repeat;
}
.footer a:nth-of-type(1):before {
  background-image: url(../img/navicon_01s.png);
}
.footer a:nth-of-type(2):before {
  background-image: url(../img/navicon_02s.png);
}
.footer a:nth-of-type(3):before {
  background-image: url(../img/navicon_03s.png);
}
.footer a:nth-of-type(4):before {
  background-image: url(../img/navicon_04s.png);
}
.footer a.active {
  color: #ff7200;
  pointer-events: none;
}
.footer a.active:nth-of-type(1):before {
  background-image: url(../img/navicon_01.png);
}
.footer a.active:nth-of-type(2):before {
  background-image: url(../img/navicon_02.png);
}
.footer a.active:nth-of-type(3):before {
  background-image: url(../img/navicon_03.png);
}
.footer a.active:nth-of-type(4):before {
  background-image: url(../img/navicon_04.png);
}
.project-list .project-item {
  position: relative;
  display: block;
  padding: 0 0 1px 0;
  margin: 10px 0;
  background: #fff;
  *zoom: 1;
}
.project-list .project-item:last-of-type {
  margin: 0 0 0px;
}
.project-list .project-item:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 10px;
  width: 58px;
  height: 39px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.project-list .project-item.yr:before {
  background-image: url(../img/yr.png);
}
.project-list .project-item.mj:before {
  background-image: url(../img/mj.png);
}
.project-list .project-item.jg:before {
  background-image: url(../img/jg.png);
}
.project-list .project-item.cz:before {
  background-image: url(../img/cz.png);
}
.project-list .project-item.finish:after {
  content: "";
  position: absolute;
  bottom: 90px;
  right: 14px;
  z-index: 3;
  width: 100px;
  height: 100px;
  background: url(../img/home03.png) center / contain no-repeat;
}
.project-list .project-item:after {
  content: '';
  display: block;
  clear: both;
}
.project-list .project-item .project-img img {
  display: block;
  width: 100%;
}
.project-list .project-item .project-img div.img {
  min-height: 150px;
  background: #f9f9f9 url(/m/img/logo.png) center no-repeat;
}
.project-list .project-item .project-content {
  position: relative;
  padding: 0 12px;
}
.project-list .project-item .project-content .project-major {
  *zoom: 1;
}
.project-list .project-item .project-content .project-major:after {
  content: '';
  display: block;
  clear: both;
}
.project-list .project-item .project-content .project-major .project-title {
  line-height: 35px;
  color: #333;
  font-size: 15px;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.project-list .project-item .project-content .project-major .project-abstract {
  line-height: 14px;
  font-size: 11px;
  color: #999;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.project-list .project-item .project-content .project-info {
  margin: 20px 0;
  *zoom: 1;
}
.project-list .project-item .project-content .project-info:after {
  content: '';
  display: block;
  clear: both;
}
.project-list .project-item .project-content .project-info p {
  box-sizing: border-box;
  float: left;
  width: 25%;
  height: 30px;
  line-height: 15px;
  color: #333333;
  border-left: 1px solid #eee;
  text-align: center;
  color: #666;
  font-size: 14px;
}
.project-list .project-item .project-content .project-info p:first-of-type {
  border: none;
}
.project-list .project-item .project-content .project-info p strong {
  margin: -5px 0 0;
}
.project-list .project-item .project-content .project-info p span {
  margin: 10px 0 0;
}
.project-list .project-item .project-content .project-info p span,
.project-list .project-item .project-content .project-info p strong {
  display: block;
  font-weight: 500;
}
.project-list .project-item .project-limit-time {
  width: 80%;
  margin: 0 auto 15px;
  padding: 10px 0;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  text-align: left;
}
.project-list .project-item .project-limit-time p {
  display: inline-block;
  line-height: 40px;
  padding: 0 0 0 12px;
  color: #bbbab6;
  text-align: center;
}
.project-list .project-item .project-limit-time p:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -3px 12px 0 0;
  background: url(/m/img/clock.png) center / contain no-repeat;
  vertical-align: middle;
}
.project-list .project-item .project-limit-time p span {
  display: inline-block;
  min-width: 20px;
  line-height: 30px;
  height: 30px;
  padding: 0 5px;
  margin: -3px 5px 0 8px;
  background: #f0f0f0;
  color: #fe2830;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 700;
}
.news-list {
  border-bottom: 1px solid #e6e6e6;
  background: #e6e6e6;
}
.news-list .news-item {
  display: block;
  padding: 8px;
  margin: 0 0 1px;
  background: #fff;
  *zoom: 1;
}
.news-list .news-item:last-of-type {
  margin: 0 0 0px;
}
.news-list .news-item:after {
  content: '';
  display: block;
  clear: both;
}
.news-list .news-item .news-img {
  float: right;
  height: 62px;
}
.news-list .news-item .news-img img {
  max-width: 100%;
  height: 100%;
  border-radius: 5px;
  margin: 5px 0 5px 8px;
}
.news-list .news-item .news-content {
  overflow: hidden;
}
.news-list .news-item .news-content p {
  line-height: 24px;
}
.news-list .news-item .news-content .news-title {
  color: #333;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.news-list .news-item .news-content .news-abstract {
  font-size: 13px;
  color: #999;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.news-list .news-item .news-content .news-abstract * {
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  color: #999 !important;
}
.news-list .news-item .news-content .news-date {
  font-size: 10px;
  color: #999;
}
.float .mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.float .mask.active {
  display: block;
}
.float .mask.black-mask {
  background: #000;
  opacity: 0.2;
}
.float .mask.white-mask {
  background: #fff;
  opacity: 0.2;
}
@media screen and (max-width: 320px) {
  .project-list .project-item .project-limit-time {
    width: 90%;
  }
}
html,
body {
  background: #f0eff4;
}
.project-item {
  pointer-events: none;
}
.container {
  padding-bottom: 80px;
}
.section {
  margin: 0 0 5px;
  background: #fff;
}
.section .title {
  line-height: 32px;
  padding: 2px 0 0;
  margin: 0 0 -1px;
  font-size: 14px;
  font-weight: 500;
  color: #666;
}
.section .title:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 14px;
  margin: -3px 5px 0 12px;
  background: #ff5935;
  vertical-align: middle;
  background: -webkit-linear-gradient(#ff8b35, #ff3935);
  background: -o-linear-gradient(#ff8b35, #ff3935);
  background: linear-gradient(#ff8b35, #ff3935);
}
.step .step-main {
  padding: 10px 0 8px;
  text-align: center;
}
.step .step-main p {
  display: inline-block;
}
.step .step-main p span {
  position: relative;
  float: left;
  color: #666;
  margin: 0 50px 0 0;
}
.step .step-main p span:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 0 8px;
  background: url(../img/yr_01.png) center / contain no-repeat;
}
.step .step-main p span:after {
  content: "";
  position: absolute;
  top: 0;
  right: -45px;
  width: 40px;
  height: 40px;
  background: url(../img/jiantou.png) center / contain no-repeat;
}
.step .step-main p span:nth-of-type(2):before {
  background-image: url(../img/mj_01.png);
}
.step .step-main p span:nth-of-type(3):before {
  background-image: url(../img/cz_01.png);
}
.step .step-main p span:last-of-type {
  margin: 0;
}
.step .step-main p span:last-of-type:before {
  background-image: url(../img/jg_01.png);
}
.step .step-main p span:last-of-type:after {
  display: none;
}
.step .step-main p span.active:nth-of-type(1):before {
  background-image: url(../img/yr_02.png);
}
.step .step-main p span.active:nth-of-type(2):before {
  background-image: url(../img/mj_02.png);
}
.step .step-main p span.active:nth-of-type(3):before {
  background-image: url(../img/cz_02.png);
}
.step .step-main p span.active:last-of-type:before {
  background-image: url(../img/jg_02.png);
}
.team-list {
  padding: 0 0 1px;
  color: #525252;
  font-size: 14px;
}
.team-list .team-item {
  padding: 0 10px;
  margin: 10px 0;
  *zoom: 1;
}
.team-list .team-item:after {
  content: '';
  display: block;
  clear: both;
}
.team-list .team-item i {
  float: left;
  width: 65px;
  height: 65px;
  background-color: #eee;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.team-list .team-item div {
  overflow: hidden;
  padding: 0 0 0 10px;
}
.team-list .team-item div p {
  line-height: 1.5;
}
.team-list .team-item div p span:first-of-type {
  margin: 0 15px 0 0;
}
.team-list .team-item div p:first-of-type {
  margin: 0 0 5px;
}
.team-list .team-item div p:nth-of-type(2) {
  height: 3em;
  overflow: hidden;
}
.investor-list {
  padding: 0 0 1px;
  color: #525252;
  font-size: 14px;
}
.investor-list .investor-item {
  padding: 0 10px;
  margin: 10px 0;
  *zoom: 1;
}
.investor-list .investor-item:after {
  content: '';
  display: block;
  clear: both;
}
.investor-list .investor-item i {
  float: left;
  width: 65px;
  height: 65px;
  border-radius: 100px;
  background-color: #eee;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.investor-list .investor-item div {
  overflow: hidden;
  padding: 7px 0 0 10px;
}
.investor-list .investor-item div p {
  line-height: 25px;
}
.investor-list .investor-item div p span:first-of-type {
  margin: 0 15px 0 0;
}
.footer-float {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  min-height: 55px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}
.footer-float a.btn {
  display: inline-block;
  width: 115px;
  line-height: 35px;
  height: 35px;
  margin: 10px 0;
  border-radius: 50px;
  background: -webkit-linear-gradient(#ff8a35, #ff7f35, #ff7435);
  background: -o-linear-gradient(#ff8a35, #ff7f35, #ff7435);
  background: linear-gradient(#ff8a35, #ff7f35, #ff7435);
  color: #fff;
}
.footer-float a.star {
  position: absolute;
  top: 3px;
  left: 15px;
  color: #999;
  font-size: 12px;
}
.footer-float a.star::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background: url(/m/img/star.png) center / contain no-repeat;
}
.footer-float a.star.active::before {
  background-image: url(/m/img/star_active.png);
}
.footer-float a.document-menu {
  position: absolute;
  top: 3px;
  right: 15px;
  color: #999;
  font-size: 12px;
}
.footer-float a.document-menu::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background: url(/m/img/menu.png) center / 20px no-repeat;
}
.float .mask.white-mask {
  opacity: 0.7;
}
.float .close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) center / contain no-repeat;
}
.float .document-menu-list {
  display: none;
  position: fixed;
  right: 5px;
  bottom: 60px;
  background: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  color: #999;
  z-index: 21;
}
.float .document-menu-list.active {
  display: block;
}
.float .document-menu-list .document-menu-item {
  display: block;
  line-height: 2;
  padding: 0 12px;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.float .document-menu-list .document-menu-item:last-of-type {
  border-bottom: none;
}
.float .contract-tips-float {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 500px;
  height: 100px;
  line-height: 100px;
  margin: -50px 0 0 -250px;
  font-size: 26px;
  color: #333;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(117, 117, 117, 0.51);
}
.float .contract-tips-float.active {
  display: block;
}
.float .document-tips-float {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 12px;
  background: #fff;
  color: #666;
  text-align: center;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}
.float .document-tips-float.active {
  display: block;
}
.float .document-tips-float h5 {
  margin: 0 0 10px;
  font-size: 16px;
}
.float .document-tips-float p {
  text-align: left;
  margin: 0 0 10px;
}
.float .document-tips-float p strong {
  display: inline-block;
}
.float .document-tips-float button {
  padding: 5px 10px;
  border-radius: 8px;
  color: #fff;
  background: #3286dc;
}
.float .document-tips-float .box {
  display: none;
}
.float .document-tips-float .box.active {
  display: block;
}
.float .risk-tips-float {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  width: 280px;
  padding: 12px;
  background: #fff;
  color: #666;
  text-align: center;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}
.float .risk-tips-float.active {
  display: block;
}
.float .risk-tips-float h5 {
  margin: 0 0 10px;
  font-size: 16px;
}
.float .risk-tips-float p {
  text-align: left;
  margin: 0 0 10px;
}
.float .risk-tips-float p strong {
  display: inline-block;
}
.float .risk-tips-float p.p2,
.float .risk-tips-float p.p4,
.float .risk-tips-float p.p5 {
  text-align: center;
}
.float .risk-tips-float p.p2 a,
.float .risk-tips-float p.p4 a,
.float .risk-tips-float p.p5 a {
  display: block;
  margin: 12px 0;
  color: #3286dc;
  text-decoration: underline;
}
.float .risk-tips-float p.p1,
.float .risk-tips-float p.p3 {
  text-indent: 2em;
}
.float .risk-tips-float button {
  padding: 5px 10px;
  border-radius: 8px;
  color: #fff;
  background: #ff8f35;
}
