<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>带投兵</title>
    <link rel="stylesheet" type="text/css" href="plugins/swiper/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="plugins/swiper/swiper.jquery.min.js"></script>
    <script src="js/base.js"></script>
    <script type="text/javascript" src='js/index.js'></script>
</head>

<body>
    <div id="wrap">


        <!-- 导航 begin -->

        <!--[if lte IE 9]>
            <style type="text/css">
                .ie-tips{
                    line-height:24px;
                    padding: 0 12px;
                    background:#fffcde;
                    color:#545454;
                    font-size: 14px;
                }
                .ie-tips a{
                    color:blue;
                    text-decoration:underline;
                }
            </style>
            <p class="ie-tips">！！！带投兵网站提醒：您的浏览器版本过低，为了您的安全着想，请升级您的浏览器，或者使用别的浏览器（推荐使用<a target="_blank" href="https://www.baidu.com/s?ie=UTF-8&wd=chrome">chrome浏览器</a>）</p>
        <![endif]-->

        <!-- 导航 begin -->
        <div class="nav">
            <div class="nav-line">
                <div class="width-wrap">
                    <p class="nav-line-l">
                        <span> 欢迎您来到带投兵，投资有风险，选择需谨慎！</span>
                    </p>
                    <!-- <p class="nav-line-r">
                <a class="" href="javascript:void(0)">新手指南</a>
            </p> -->
                </div>
            </div>
            <!-- nav-line end -->


            <div class="nav-main">
                <div class="width-wrap">
                    <div class="top-img">
                        <a href="/">
                            <img src="/statics/img/logo.png">
                        </a>
                        <!-- <img src="/statics/img/index00.png"> -->
                    </div>
                    <div class="top-link">
                        <a href="/" class="active">首页</a>
                        <a href="/project/projpage/all/1">募集项目</a>
                        <!-- <a href="###">发起项目</a> -->
                        <a href="/guide.html">新手指南</a>
                        <a href="/about.html">关于我们</a>
                    </div>
                    <div class="top-login">
                        <div class="logged">
                            <a class="" href="/member/index">
                                <span id="userName">&nbsp;&nbsp;&nbsp;</span> | 个人中心
                            </a>
                            <a class="" href="/logout">退出</a>
                        </div>
                        <div class="logging active">
                            <a class="" href="/login.html">登录</a>
                            <a class="" href="/registerpage">注册</a>
                        </div>
                    </div>
                </div>
                <!-- width-wrap end -->
            </div>
            <!-- nav-main end -->


        </div>
        <!-- 导航 end -->
        <!--动态包含-->
        <!-- 导航 end -->

        <!-- 主要 begin -->
        <div class="main">

            <!-- 主要 轮播轮播区域 -->
            <div class="main-nav">
                <!-- 轮播图片 -->
                <div class="swiper-container swiper-container-horizontal swiper-container-autoheight">
                    <div class="swiper-wrapper" style="height: 496px; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">


                        <a class="swiper-slide swiper-slide-active" href="https://www.dtb.cn/project/projdetail/95" style="width: 1540px; height: 495.573px;">
                            <img src="/upload/carousel/0/f674f2d7-7ff1-4847-8de2-5a35c14a9ed8_xGvOa9sM.png">
                        </a>

                        <a class="swiper-slide swiper-slide-next" href="https://www.dtb.cn/project/projdetail/94" style="width: 1540px; height: 495.573px;">
                            <img src="/upload/carousel/0/9fbe88db-998c-4234-93d6-17dd540ba94f_ml264n71.png">
                        </a>

                        <a class="swiper-slide" href="https://www.dtb.cn/project/projpage/50/1" style="width: 1540px; height: 495.573px;">
                            <img src="/upload/member/0/fd054c16-86a4-4a31-8d5b-085de8f41163_s8sjGLO1.jpg">
                        </a>

                        <a class="swiper-slide" href="https://www.dtb.cn/project/projdetail/82" style="width: 1540px; height: 495.573px;">
                            <img src="/upload/carousel/0/163dedce-79a0-48b1-9ff4-f14e2855453f_URCohhm6.jpeg">
                        </a>


                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                    </div>
                </div>
                <!-- 轮播图片 end -->
            </div>
            <!-- 主要 轮播轮播区域 end -->

            <p class="horn">
                <strong>温馨提示：</strong>本平台特聘广东十大律所「星辰律师事务所」为您提供法律保障，并由国内知名电子合同签署平台「法大大」为您提供证据保全服务</p>

            <!-- 主要 内容区域 -->
            <div class="main-content">

                <!-- 募集项目 -->
                <div class="project">
                    <h3>募集项目
                        <a href="/project/projpage/all/1" target="_blank">更多项目</a>
                    </h3>

                    <ul class="index-projectlist">



                        <!-- 募集 mj-project -->
                        <!-- 预热 yr-project -->





                        <li class="yr-project">
                            <a href="/project/projdetail/95" target="_blank">
                                <i style="background-image: url(/upload/project/95/f38b7070-1c24-4f2e-ba65-61a7964b517b_TaEOy2sU.png)"></i>
                                <div class="project-content">
                                    <!-- 项目标题与简介 -->
                                    <div class="part1">
                                        <h5>
                                            <span>康堤股份</span>
                                        </h5>
                                        <p>明星IP养成计划，与戚薇、权志龙一起创业，单品销售过千万，引爆粉丝经济。</p>
                                    </div>
                                    <!-- 项目进度 -->
                                    <div class="part2">
                                        <div class="project-percent">
                                            <div class="percent" style="width:0.00%;">
                                                <span>0.00%</span>
                                            </div>
                                        </div>
                                        <div class="project-msg">
                                            <span>目标：
                                                <em>600万</em>
                                            </span>
                                            <span class="yr-hidden">已募集总额：
                                                <em>0.00</em>
                                            </span>
                                        </div>
                                    </div>


                                    <div class="part3" id="lblDates_95">
                                        <p>
                                            <span>8</span>天
                                            <span>20</span>时
                                            <span>54</span>分
                                            <span>46</span>秒</p>
                                    </div>

                                </div>
                            </a>
                        </li>


                        <!-- 募集 mj-project -->
                        <!-- 预热 yr-project -->





                        <li class="mj-project">
                            <a href="/project/projdetail/94" target="_blank">
                                <i style="background-image: url(/upload/project/94/dfe62c01-b63d-4c70-b25f-5adc3d0ed911_4h91x955.jpeg)"></i>
                                <div class="project-content">
                                    <!-- 项目标题与简介 -->
                                    <div class="part1">
                                        <h5>
                                            <span>熊霸餐饮</span>
                                        </h5>
                                        <p>萌爆全城、最受泛90后俊男靓女喜爱的港式小吃餐饮品牌， 加盟店遍布全国，估值极低，升值潜力巨大。</p>
                                    </div>
                                    <!-- 项目进度 -->
                                    <div class="part2">
                                        <div class="project-percent">
                                            <div class="percent" style="width:74.33%;">
                                                <span>74.33%</span>
                                            </div>
                                        </div>
                                        <div class="project-msg">
                                            <span>目标：
                                                <em>300万</em>
                                            </span>
                                            <span class="yr-hidden">已募集总额：
                                                <em>223万</em>
                                            </span>
                                        </div>
                                    </div>


                                    <div class="part3" id="lblDates_94">
                                        <p>
                                            <span>8</span>天
                                            <span>20</span>时
                                            <span>53</span>分
                                            <span>55</span>秒</p>
                                    </div>

                                </div>
                            </a>
                        </li>


                        <!-- 募集 mj-project -->
                        <!-- 预热 yr-project -->





                        <li class="jg-project">
                            <a href="/project/projdetail/89" target="_blank">
                                <i style="background-image: url(/upload/project/89/85b47e49-4dec-4e72-a966-514e0b938f5a_VRzXpEl5.jpeg)"></i>
                                <div class="project-content">
                                    <!-- 项目标题与简介 -->
                                    <div class="part1">
                                        <h5>
                                            <span>考拉FM（ 1期 ）</span>
                                        </h5>
                                        <p>中国最大的车载音频娱乐服务商，市场覆盖率前后装都是第一，强大的车载产品打造能力和车载音频内容运营能力，打造极致体验车载音频娱乐服务。 </p>
                                    </div>
                                    <!-- 项目进度 -->
                                    <div class="part2">
                                        <div class="project-percent">
                                            <div class="percent" style="width:102.2%;">
                                                <span>102.2%</span>
                                            </div>
                                        </div>
                                        <div class="project-msg">
                                            <span>目标：
                                                <em>2500万</em>
                                            </span>
                                            <span class="yr-hidden">已募集总额：
                                                <em>2555万</em>
                                            </span>
                                        </div>
                                    </div>


                                </div>
                            </a>
                        </li>


                        <!-- 募集 mj-project -->
                        <!-- 预热 yr-project -->





                        <li class="jg-project">
                            <a href="/project/projdetail/82" target="_blank">
                                <i style="background-image: url(/upload/project/team/31478f92-2dcb-42fc-b4c5-996d331daf72_IaHtxuzb.jpg)"></i>
                                <div class="project-content">
                                    <!-- 项目标题与简介 -->
                                    <div class="part1">
                                        <h5>
                                            <span>皓图智能</span>
                                        </h5>
                                        <p>行为识别、立体世界、重塑万亿级安防市场，AI领域全球首屈一指的3D行为识别准独角兽。

                                        </p>
                                    </div>
                                    <!-- 项目进度 -->
                                    <div class="part2">
                                        <div class="project-percent">
                                            <div class="percent" style="width:100%;">
                                                <span>100%</span>
                                            </div>
                                        </div>
                                        <div class="project-msg">
                                            <span>目标：
                                                <em>1065万</em>
                                            </span>
                                            <span class="yr-hidden">已募集总额：
                                                <em>1065万</em>
                                            </span>
                                        </div>
                                    </div>


                                </div>
                            </a>
                        </li>



                    </ul>
                </div>

                <!-- 新闻与通知 -->
                <div class="big-wrap">
                    <div class="index-news-notice">

                        <!-- 新闻 -->
                        <div class="news">
                            <h4>新闻动态
                                <a href="/newslist" target="_blank">更多</a>
                            </h4>
                            <div class="content">

                                <div class="major">
                                    <a href="###">
                                        <i></i>
                                        <p> 明星IP变现推手「康堤股份」：助权志龙卖耳机 为戚薇开果汁店</p>
                                    </a>
                                </div>

                                <div class="minor">
                                    <a href="newsdetail/60">
                                        <p> 明星IP变现推手「康堤股份」：助权志龙卖耳机 为戚薇开果汁店</p>
                                        <span>03/19</span>
                                    </a>

                                    <a href="newsdetail/59">
                                        <p> 明星IP该如何定位、怎样变现？ </p>
                                        <span>03/19</span>
                                    </a>

                                    <a href="newsdetail/58">
                                        <p>「餐饮投资」那点事 </p>
                                        <span>03/19</span>
                                    </a>

                                    <a href="newsdetail/57">
                                        <p>「康堤股份」获数千万元 A 轮融资，为明星打造个人品牌</p>
                                        <span>03/16</span>
                                    </a>

                                    <a href="newsdetail/56">
                                        <p>「熊霸餐饮」颠覆你印象中的港式小吃！ </p>
                                        <span>03/16</span>
                                    </a>


                                </div>
                                <!-- minor end -->
                            </div>
                        </div>
                        <!-- 新闻 end -->


                        <!-- 通知 -->
                        <div class="notice">
                            <h4>通知公告
                                <a href="/newslist" target="_blank">更多</a>
                            </h4>
                            <div class="content">


                                <a href="newsdetail/55">
                                    <p> 三月专场 | 路演通知 </p>
                                    <span>03/16</span>
                                </a>

                                <a href="newsdetail/51">
                                    <p>喜迎春节 | 放假公告</p>
                                    <span>02/09</span>
                                </a>

                                <a href="newsdetail/38">
                                    <p>喜迎元旦 | 放假公告</p>
                                    <span>12/29</span>
                                </a>

                                <a href="newsdetail/37">
                                    <p>「投资流程指南」</p>
                                    <span>12/19</span>
                                </a>

                                <a href="newsdetail/36">
                                    <p>「常见问题」</p>
                                    <span>12/19</span>
                                </a>


                            </div>
                        </div>
                        <!-- 通知 end -->
                    </div>
                </div>


            </div>
            <!-- 主要 内容区域 end -->

        </div>
        <!-- 主要 end -->

        <!-- 页面底部 begin -->



        <!-- 页面底部 begin -->
        <div class="footer">
            <div class="footer-main">
                <div class="footer-left">
                    <img src="/statics/img/bottom-logo.png">
                </div>
                <div class="footer-middle">
                    <a class="about" target="_blank" href="/about.html">关于我们</a>
                    <a class="new" target="_blank" href="/guide.html">新手指南</a>
                    <a class="question" href="javascript:void(0)">常见问题</a>
                </div>
                <div class="footer-right">
                    <p>
                        <img src="/statics/img/gongzhonghao.png" alt="公众号二维码">官方公众号
                    </p>
                    <p>
                        <img src="/statics/img/kefu.png" alt="公众号二维码">在线客服
                    </p>
                </div>
                <div class="footer-bottom">
                    <p>客服电话：400-1116-199</p>
                    <p>工作时间：周一到周五 9:00-19:00</p>
                    <p>客服邮箱：kf@dtb.cn</p>
                </div>
            </div>
            <img style="position:absolute;bottom:0px;right:15px;opacity:0.05" src="/statics/img/fdd.png">
            <p class="right">版权所有©Copyright 2017 带投兵 -
                <a target="_blank" href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action">粤ICP备17129433号</a>
            </p>
        </div>
        <!-- 页面底部 end -->






        <!-- 浮窗 -->
        <!-- js 调用showLogin(true) 出现弹窗 ;  调用showLogin(false) 隐藏弹窗 -->
        <div class="float">
            <div class="mask">
            </div>
            <div class="login-float">
                <h4>会员登录</h4>
                <ul>
                    <li class="error-li" v-if="error">
                        <p>
                            <i class="fa fa-exclamation-triangle"></i>{{errorMsg}}</p>
                    </li>
                    <li>
                        <input type="text" class="form-control" v-model="tradername" placeholder="账号">
                    </li>
                    <li>
                        <input type="password" class="form-control" v-model="password" placeholder="密码">
                    </li>
                    <li class="code-li">
                        <span class="alink" @click="refreshCode">点击刷新</span>
                        <p>
                            <img alt="如果看不清楚，请单击图片刷新！" class="pointer" :src="src" @click="refreshCode">
                        </p>
                        <label>
                            <input type="text" class="form-control" v-model="captcha" @keyup.enter="login" placeholder="验证码">
                        </label>
                    </li>
                    <!--
            <li class="remeber-li">
                <label>
                    <input type="checkbox" name="">记住用户名
                </label>
                <a href="javascript:void(0)">忘记密码?</a>
            </li>
             -->
                    <li>
                        <button>登录</button>
                    </li>
                    <li class="register-li">没有账户?
                        <a href="/registerpage">免费注册</a>
                    </li>
                </ul>
            </div>
            <div class="loader-float">
                <div class="loader">
                    <div class="loader-inner ball-spin-fade-loader">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <!--动态包含-->
        <!-- 页面底部 end -->

    </div>
</body>

</html>