<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>带投兵</title>
    <link rel="stylesheet" type="text/css" href="plugins/swiper/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="plugins/swiper/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="js/circle-progress.min.js"></script>
    <script src="js/base.js"></script>
    <script type="text/javascript" src='js/index.js'></script>
    <script type="text/javascript" src="https://cccikov.github.io/cccgit/test/js/vue.js"></script>
</head>

<body>
    <!--[if lte IE 9]>
        <style type="text/css">
            .ie-tips{
                line-height:24px;
                padding: 0 12px;
                background:#fffcde;
                color:#545454;
                font-size: 14px;
            }
            .ie-tips a{
                color:blue;
                text-decoration:underline;
            }
        </style>
        <p class="ie-tips">！！！带投兵网站提醒：您的浏览器版本过低，为了您的安全着想，请升级您的浏览器，或者使用别的浏览器（推荐使用<a target="_blank" href="https://www.baidu.com/s?ie=UTF-8&wd=chrome">chrome浏览器</a>）</p>
    <![endif]-->
    <div id="wrap">

        <!-- 导航 begin -->
        <div class="nav">
            <div class="nav-line">
                <div class="width-wrap">
                    <div class="nav-line-l">
                        <span>欢迎您来到带投兵，投资有风险，选择需谨慎！</span>
                    </div>
                    <div class="nav-line-r">
                        <a href="javascript:void(0)">
                            <span>投资顾问</span>
                            <div>
                                <img src="./img/kefu.png">
                            </div>
                        </a>
                        <a href="javascript:void(0)">
                            <span>关于我们</span>
                            <div>
                                <img src="./img/gongzhonghao.png">
                            </div>
                        </a>
                        <span class="tel">400-1116-199</span>
                    </div>
                </div>
            </div>
            <!-- nav-line end -->
            <div class="nav-main">
                <div class="width-wrap">
                    <div class="top-img">
                        <a href="/">
                            <img src="/img/logo.png">
                        </a>
                        <!-- <img src="/img/index00.png"> -->
                    </div>
                    <div class="top-link">
                        <a href="/" class="active">首页</a>
                        <a href="/project/projpage/all/1">募集项目</a>
                        <!-- <a href="###">发起项目</a> -->
                        <a href="/guide.html">新手指南</a>
                        <a href="/about.html">关于我们</a>
                    </div>
                    <div class="top-login">
                        <div class="logged ">
                            <a class="" href="/member/index">
                                <span id="userName">程先生</span>个人中心
                            </a>
                            <a class="" href="/logout">退出</a>
                        </div>
                        <div class="logging active">
                            <a class="" href="/login.html">登录</a>
                            <a class="" href="/registerpage">注册</a>
                        </div>
                    </div>
                </div>
                <!-- width-wrap end -->
            </div>
            <!-- nav-main end -->
        </div>
        <!-- 导航 end -->


        <!-- 主要 begin -->
        <div class="main">




            <!-- 主要_banner begin -->
            <div class="banner">
                <!-- 轮播图片 -->
                <div class="swiper-container" id="banner">
                    <div class="swiper-wrapper" >
                        <a class="swiper-slide" href="###">
                            <img src="./img/test/test09.png">
                        </a>
                        <a class="swiper-slide" href="###">
                            <img src="./img/test/test09.png">
                        </a>
                        <a class="swiper-slide" href="###">
                            <img src="./img/test/test09.png">
                        </a>
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                </div>
                <!-- 轮播图片 end -->
            </div>
            <!-- 主要_banner end -->




            <!-- 主要_short begin -->
            <div class="short-wrap">
                <div class="short">
                    <p class="short1">
                        <strong><i class="num" data-val="260">0</i>个+</strong>
                        <span>成功募集项目</span>
                    </p>
                    <p class="short2">
                        <strong><i class="num" data-val="10.2">0</i>亿</strong>
                        <span>总投资金额</span>
                    </p>
                    <p class="short3">
                        <strong><i class="num" data-val="2345">0</i>位</strong>
                        <span>投资人</span>
                    </p>
                    <p class="short4">
                        <strong><i class="num" data-val="80">0</i>%+</strong>
                        <span>近期项目收益</span>
                    </p>
                </div>
            </div>
            <!-- 主要_short end -->




            <!-- 主要_热门项目 begin -->
            <div class="hot">
                <h4 class="heading">HOT PROJECTS</h4>
                <h5 class="heading">热门项目</h5>

                <img class="high" src="./img/high01.png">

                <div class="index-swiper-contain">
                    <div class="index-swiper-clip">

                        <div class="swiper-container index-swiper">
                            <ul class="swiper-wrapper">
                                <li class="swiper-slide" v-for="val in [1,2,3,4,5,6,7]">

                                    <a class="B-round" href="###">
                                        <!-- 项目图片 -->
                                        <i style="background-image: url(./img/test/test06.jpg)"></i>
                                        <div class="project-content">
                                            <p class="project-title">
                                                <em>募集中</em>
                                                <span>考拉FM（1期）</span>
                                            </p>
                                            <div class="project-detail">
                                                <!-- 进度条 -->
                                                <div class="progress">
                                                    <div class="progress-canvas" data-value="0.9"></div>
                                                    <span class="progress-num"><em class="num" data-val="90">0</em>%</span>
                                                </div>
                                                <div class="projec-major">
                                                    <p>
                                                        <span>目标：</span>1000万
                                                    </p>
                                                    <p>
                                                        <span>起投：</span>60万
                                                    </p>
                                                    <p>
                                                        <span>募集总额：</span>1000万
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                </li>
                            </ul>
                        </div>

                    </div>

                    <a href="javascript:void(0)" class="swiper-left"></a>
                    <a href="javascript:void(0)" class="swiper-right"></a>
                </div>

                <div class="more">
                    <a href="###">查看更多</a>
                </div>

            </div>
            <!-- 主要_热门项目 end -->




            <!-- 主要_成功项目 begin -->
            <div class="accomplished">
                <h4 class="heading">ACCOMPLISHED PROJECTS</h4>
                <h5 class="heading">成功项目</h5>

                <img class="high" src="./img/high02.png">

                <ul>
                    <li :class="'proj'+val" v-for="val in [1,2,3,4,5]">
                        <a href="###" style="background-image: url(./img/test/test06.jpg)">
                            <div class="proj-info">
                                <div class="box" >
                                    <h6>浩图只能</h6>
                                    <p>萌爆全城、最受泛90后俊男靓女喜爱的港式小吃餐饮品牌， 加盟店遍布全国，估值极低，升值潜力巨大。</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>

                <div class="more">
                    <a href="###">查看更多</a>
                </div>
            </div>
            <!-- 主要_成功项目 end -->




            <!-- 主要_明星投资人 begin -->
            <div class="famous">
                <h4 class="heading">FAMOUS INVESTORS</h4>
                <h5 class="heading">明星投资人</h5>

                <img class="high" src="./img/high03.png">

                <ul>
                    <li>
                        <a href="###">
                            <i style="background-image: url(./img/famous1.jpg);background-position: center top -48px"></i>
                            <div class="famous-content">
                                <p class="name">李斌</p>
                                <p class="intro">出行教父，蔚来汽车董事长<br>摩拜天使投资人<br>参与「考拉FM」</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <i style="background-image: url(./img/famous2.jpg)"></i>
                            <div class="famous-content">
                                <p class="name">吴世春</p>
                                <p class="intro">梅花天使创投创始合伙人<br>趣店天使投资人<br>参与「蜂狂运动」</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <i style="background-image: url(./img/famous3.jpg)"></i>
                            <div class="famous-content">
                                <p class="name">罗飞</p>
                                <p class="intro">松禾资本董事长<br>柔宇科技天使投资人<br>参与「皓图智能」</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <i style="background-image: url(./img/famous4.jpg)"></i>
                            <div class="famous-content">
                                <p class="name">戚薇</p>
                                <p class="intro">亚洲偶像盛典<br>"最具人气女演员"<br>参与「康堤股份」</p>
                            </div>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- 主要_明星投资人 end -->






            <!-- 主要_新闻与通知 begin -->
            <div class="big-wrap">
                <h4 class="heading">BREAKING NEWS</h4>
                <h5 class="heading">新闻资讯</h5>
                <div class="index-news-notice">
                    <!-- 新闻 -->
                    <div class="news">
                        <h4>新闻动态
                            <a href="/newslist" target="_blank">更多</a>
                        </h4>
                        <div class="content">
                            <div class="major">
                                <a href="###">
                                    <i></i>
                                    <p> 明星IP变现推手「康堤股份」：助权志龙卖耳机 为戚薇开果汁店</p>
                                </a>
                            </div>
                            <div class="minor">
                                <a href="newsdetail/60">
                                    <p> 明星IP变现推手「康堤股份」：助权志龙卖耳机 为戚薇开果汁店</p>
                                    <span>03/19</span>
                                </a>
                                <a href="newsdetail/59">
                                    <p> 明星IP该如何定位、怎样变现？ </p>
                                    <span>03/19</span>
                                </a>
                                <a href="newsdetail/58">
                                    <p>「餐饮投资」那点事 </p>
                                    <span>03/19</span>
                                </a>
                                <a href="newsdetail/57">
                                    <p>「康堤股份」获数千万元 A 轮融资，为明星打造个人品牌</p>
                                    <span>03/16</span>
                                </a>
                                <a href="newsdetail/56">
                                    <p>「熊霸餐饮」颠覆你印象中的港式小吃！ </p>
                                    <span>03/16</span>
                                </a>
                            </div>
                            <!-- minor end -->
                        </div>
                    </div>
                    <!-- 新闻 end -->
                    <!-- 通知 -->
                    <div class="notice">
                        <h4>通知公告
                            <a href="/newslist" target="_blank">更多</a>
                        </h4>
                        <div class="content">
                            <a href="newsdetail/55">
                                <p> 三月专场 | 路演通知 </p>
                                <span>03/16</span>
                            </a>
                            <a href="newsdetail/51">
                                <p>喜迎春节 | 放假公告</p>
                                <span>02/09</span>
                            </a>
                            <a href="newsdetail/38">
                                <p>喜迎元旦 | 放假公告</p>
                                <span>12/29</span>
                            </a>
                            <a href="newsdetail/37">
                                <p>「投资流程指南」</p>
                                <span>12/19</span>
                            </a>
                            <a href="newsdetail/36">
                                <p>「常见问题」</p>
                                <span>12/19</span>
                            </a>
                        </div>
                    </div>
                    <!-- 通知 end -->
                </div>
            </div>
            <!-- 主要_新闻与通知 end -->




            <!-- 主要_合作伙伴 begin -->
            <div class="partners">
                <h4 class="heading">PARTNERS</h4>
                <h5 class="heading">合作伙伴</h5>

                <ul>
                    <li>
                        <img src="./img/partners1.png">
                    </li>
                    <li>
                        <img src="./img/partners2.png" alt="">
                    </li>
                    <li>
                        <img src="./img/partners3.png" alt="">
                    </li>
                    <li>
                        <img src="./img/partners4.png" alt="">
                    </li>
                    <li>
                        <img src="./img/partners5.png" alt="">
                    </li>
                    <li>
                        <img src="./img/partners6.png" alt="">
                    </li>
                    <li>
                        <img src="./img/partners7.png" alt="">
                    </li>
                    <li>
                        <img src="./img/partners8.png" alt="">
                    </li>
                    <li>
                        <img src="./img/partners9.png" alt="">
                    </li>
                </ul>

            </div>
            <!-- 主要_合作伙伴 end -->



        </div>
        <!-- 主要 end -->



        <!-- 页面底部 begin -->
        <div class="footer">
            <p class="horn"><strong>温馨提示：</strong>本平台特聘广东十大律所「星辰律师事务所」为您提供法律保障，并由国内知名电子合同签署平台「法大大」为您提供证据保全服务</p>
            <div class="footer-main">
                <div class="footer-left">
                    <img src="/img/bottom-logo.png">
                </div>
                <div class="footer-middle">
                    <a class="about" target="_blank" href="/about.html">关于我们</a>
                    <a class="new" target="_blank" href="/guide.html">新手指南</a>
                    <a class="question" href="javascript:void(0)">常见问题</a>
                </div>
                <div class="footer-right">
                    <p>
                        <img src="/img/gongzhonghao.png" alt="公众号二维码">官方公众号
                    </p>
                    <p>
                        <img src="/img/kefu.png" alt="公众号二维码">在线客服
                    </p>
                </div>
                <div class="footer-bottom">
                    <p>客服电话：400-1116-199</p>
                    <p>工作时间：周一到周五 9:00-19:00</p>
                    <p>客服邮箱：kf@dtb.cn</p>
                </div>
            </div>
            <img style="position:absolute;bottom:0px;right:15px;opacity:0.05" src="/img/fdd.png">
            <p class="right">版权所有©Copyright 2017 带投兵 -<a target="_blank" href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action">粤ICP备17129433号</a></p>
        </div>
        <!-- 页面底部 end -->
    </div>

    <!-- <div class="test" style="text-align: center;overflow: hidden;width:100%">
        <img src="./img/新首页20180327.png" width="1920">;
    </div> -->

</body>

</html>